In [1]:
import pandas as pd

import gc # To collect garbage values generated during running

import matplotlib.pyplot as plt

import numpy as np

import seaborn as sns

In [2]:
d = pd.read_csv('2013_cleaned_with_rounds.csv')

In [3]:
rb = d.loc[d['Position'] == 'RB']
wr = d.loc[d['Position'] == 'WR']

In [4]:
wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-4-ea88c15edb18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
<ipython-input-4-ea88c15edb18>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

In [5]:
te = d.loc[d['Position'] == 'TE']
te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

<ipython-input-5-c576e4e6ce8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

In [6]:
qb = d.loc[d['Position'] == 'QB']
qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-6-4882867569a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

In [7]:
k = d.loc[d['Position'] == 'PK']
k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

<ipython-input-7-d0b0a0dfd751>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

In [8]:
Def = d.loc[d['Position'] == 'Def']
Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

<ipython-input-8-1cd933a4c506>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

In [27]:
rb_50 = rb.head(15)
after_rb = rb_50[(rb_50['FantasyPointsRank'] <= 60)]
after_rb.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Peterson,Adrian,Adrian Peterson,1,1,450,73,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,10.0
4,5,Charles,Jamaal,Jamaal Charles,1,1,470,76,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,441,76,RB,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0
8,9,Lynch,Marshawn,Marshawn Lynch,1,1,448,75,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0
10,11,Forte,Matt,Matt Forte,1,1,474,76,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
17,18,Johnson,Chris,Chris Johnson,2,1,433,77,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,9.0
23,24,Bush,Reggie,Reggie Bush,2,1,445,79,RB,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,7.0

In [26]:
wr_50 = wr.head(15)
after_wr = wr_50[(wr_50['FantasyPointsRank'] <= 60)]
after_wr.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
3,4,Johnson,Calvin,Calvin Johnson,1,1,393,74,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
12,13,Bryant,Dez,Dez Bryant,2,1,426,75,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5,7.0
13,14,Green,A.J.,A.J. Green,2,1,408,76,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Marshall,Brandon,Brandon Marshall,2,1,395,75,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
21,22,Thomas,Demaryius,Demaryius Thomas,2,1,459,77,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,1.0
24,25,Fitzgerald,Larry,Larry Fitzgerald,3,1,366,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
26,27,Johnson,Andre,Andre Johnson,3,1,405,77,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,10.0
36,37,Jackson,Vincent,Vincent Jackson,4,1,373,79,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,16.0

In [25]:
te_50 = te.head(15)
after_te = te_50[(te_50['FantasyPointsRank'] <= 60)]
after_te.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
18,19,Graham,Jimmy,Jimmy Graham,2,1,356,77,TE,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,1.0
58,59,Davis,Vernon,Vernon Davis,5,1,396,82,TE,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,4.0
64,65,Gonzalez,Tony,Tony Gonzalez,6,1,686,81,TE,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,2.0

In [24]:
qb_50 = qb.head(15)
after_qb = qb_50[(qb_50['FantasyPointsRank'] <= 60)]
after_qb.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
14,15,Brees,Drew,Drew Brees,2,1,495,73,QB,NOS,...,NaN,NaN,NaN,NaN,446.0,12.0,37.0,35.0,2.0,2.0
25,26,Manning,Peyton,Peyton Manning,3,1,502,74,QB,DEN,...,NaN,NaN,NaN,NaN,450.0,10.0,18.0,32.0,1.0,1.0
33,34,Brady,Tom,Tom Brady,3,1,497,74,QB,NEP,...,NaN,NaN,NaN,NaN,380.0,11.0,40.0,32.0,29.0,13.0
39,40,Newton,Cam,Cam Newton,4,1,486,75,QB,CAR,...,NaN,NaN,NaN,NaN,292.0,13.0,43.0,111.0,8.0,5.0
41,42,Ryan,Matt,Matt Ryan,4,1,472,75,QB,ATL,...,NaN,NaN,NaN,NaN,439.0,17.0,44.0,17.0,23.0,11.0
53,54,Kaepernick,Colin,Colin Kaepernick,5,1,498,78,QB,SFO,...,NaN,NaN,NaN,NaN,243.0,8.0,39.0,92.0,22.0,10.0
56,57,Stafford,Matthew,Matthew Stafford,5,1,468,75,QB,DET,...,NaN,NaN,NaN,NaN,371.0,19.0,23.0,37.0,7.0,4.0
61,62,Luck,Andrew,Andrew Luck,6,1,500,75,QB,IND,...,NaN,NaN,NaN,NaN,343.0,9.0,32.0,63.0,10.0,6.0
69,71,Wilson,Russell,Russell Wilson,6,1,490,79,QB,SEA,...,NaN,NaN,NaN,NaN,257.0,9.0,44.0,96.0,18.0,8.0
70,72,Romo,Tony,Tony Romo,6,1,477,77,QB,DAL,...,NaN,NaN,NaN,NaN,342.0,10.0,35.0,20.0,25.0,12.0
95,100,Manning,Eli,Eli Manning,8,1,482,78,QB,NYG,...,NaN,NaN,NaN,NaN,317.0,27.0,39.0,18.0,51.0,20.0

In [31]:
rb1 = rb[(rb['FantasyPointsRank'] <= 100)]
wr1 = wr[(wr['FantasyPointsRank'] <= 100)]
te1 = te[(te['FantasyPointsRank'] <= 100)]
qb1 = qb[(qb['FantasyPointsRank'] <= 100)]
rb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Peterson,Adrian,Adrian Peterson,1,1,450,73,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,10.0
4,5,Charles,Jamaal,Jamaal Charles,1,1,470,76,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0
5,6,Rice,Ray,Ray Rice,1,1,391,74,RB,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,22.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,441,76,RB,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0
8,9,Lynch,Marshawn,Marshawn Lynch,1,1,448,75,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0
10,11,Forte,Matt,Matt Forte,1,1,474,76,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
17,18,Johnson,Chris,Chris Johnson,2,1,433,77,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,9.0
20,21,Morris,Alfred,Alfred Morris,2,1,451,75,RB,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.5,21.0
22,23,Jones-Drew,Maurice,Maurice Jones-Drew,2,1,439,78,RB,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,19.0
23,24,Bush,Reggie,Reggie Bush,2,1,445,79,RB,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,7.0
30,31,Gore,Frank,Frank Gore,3,1,465,80,RB,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,18.0
34,35,Murray,DeMarco,DeMarco Murray,3,1,430,78,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,6.0
35,36,Sproles,Darren,Darren Sproles,3,1,393,81,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,23.0
38,39,Lacy,Eddie,Eddie Lacy,4,1,647,98,RB,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,8.0
52,53,Bernard,Giovani,Giovani Bernard,5,1,643,97,RB,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,13.0
57,58,Mathews,Ryan,Ryan Mathews,5,1,443,82,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,17.0
65,67,Bell,Le'Veon,Le'Veon Bell,6,1,643,94,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,15.0
89,95,Williams,DeAngelo,DeAngelo Williams,8,2,480,82,RB,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,25.0
151,186,Stacy,Zac,Zac Stacy,13,1,657,47,RB,STL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,20.0
157,195,Woodhead,Danny,Danny Woodhead,14,2,485,69,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,12.0
170,218,Jackson,Fred,Fred Jackson,15,5,464,71,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,11.0
182,233,Thomas,Pierre,Pierre Thomas,16,5,505,61,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,16.0
202,259,Moreno,Knowshon,Knowshon Moreno,17,1,478,53,RB,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,4.0
208,268,Bell,Joique,Joique Bell,18,1,591,47,RB,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,14.0
303,395,Jennings,Rashad,Rashad Jennings,26,1,673,10,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.5,24.0

In [33]:

wr1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
3,4,Johnson,Calvin,Calvin Johnson,1,1,393,74,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
12,13,Bryant,Dez,Dez Bryant,2,1,426,75,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5,7.0
13,14,Green,A.J.,A.J. Green,2,1,408,76,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Marshall,Brandon,Brandon Marshall,2,1,395,75,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
21,22,Thomas,Demaryius,Demaryius Thomas,2,1,459,77,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,1.0
24,25,Fitzgerald,Larry,Larry Fitzgerald,3,1,366,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
26,27,Johnson,Andre,Andre Johnson,3,1,405,77,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,10.0
31,32,Cruz,Victor,Victor Cruz,3,1,413,77,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,27.0
36,37,Jackson,Vincent,Vincent Jackson,4,1,373,79,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,16.0
37,38,Welker,Wes,Wes Welker,4,1,401,80,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,21.0
42,43,Colston,Marques,Marques Colston,4,1,478,81,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.5,25.5
51,52,Nelson,Jordy,Jordy Nelson,5,1,364,81,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,13.0
54,55,Garcon,Pierre,Pierre Garcon,5,1,410,81,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,11.0
55,56,Smith,Torrey,Torrey Smith,5,1,374,80,WR,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,22.0
59,60,Decker,Eric,Eric Decker,5,1,382,81,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,9.0
60,61,Brown,Antonio,Antonio Brown,6,1,438,81,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,3.0
62,63,Wallace,Mike,Mike Wallace,6,1,366,80,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.5,25.5
68,70,Jackson,DeSean,DeSean Jackson,6,1,425,82,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,12.0
72,75,Hilton,T.Y.,T.Y. Hilton,7,1,370,83,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,19.0
78,82,Jennings,Greg,Greg Jennings,7,2,372,81,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,33.0
84,89,Boldin,Anquan,Anquan Boldin,8,3,375,83,WR,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,15.0
88,93,Gordon,Josh,Josh Gordon,8,1,416,79,WR,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2.0
126,153,Tate,Golden,Golden Tate,11,1,480,75,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,29.0
130,159,Floyd,Michael,Michael Floyd,11,1,370,72,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,24.0
134,165,Sanders,Emmanuel,Emmanuel Sanders,12,3,498,73,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,31.0
143,174,Allen,Keenan,Keenan Allen,12,1,650,37,WR,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,18.0
149,184,Jeffery,Alshon,Alshon Jeffery,13,2,451,69,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,8.0
176,226,Wright,Kendall,Kendall Wright,15,6,409,58,WR,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,20.0
188,240,Hartline,Brian,Brian Hartline,16,7,412,61,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,23.0
234,308,Edelman,Julian,Julian Edelman,20,6,576,32,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,14.0
239,315,Cooper,Riley,Riley Cooper,20,3,607,18,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.5,30.0
255,338,Streater,Rod,Rod Streater,22,9,498,25,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.5,32.0
287,377,Jones,Marvin,Marvin Jones,24,7,616,5,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,28.0
316,410,Washington,Nate,Nate Washington,27,3,612,10,WR,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,34.0

In [36]:

te1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
18,19,Graham,Jimmy,Jimmy Graham,2,1,356,77,TE,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,1.0
49,50,Witten,Jason,Jason Witten,5,1,355,80,TE,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,6.0
58,59,Davis,Vernon,Vernon Davis,5,1,396,82,TE,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,4.0
64,65,Gonzalez,Tony,Tony Gonzalez,6,1,686,81,TE,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,2.0
86,91,Olsen,Greg,Greg Olsen,8,1,355,81,TE,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.0
102,121,Gates,Antonio,Antonio Gates,9,1,435,80,TE,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,8.0
121,147,Cameron,Jordan,Jordan Cameron,11,1,416,79,TE,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,5.0
165,211,Bennett,Martellus,Martellus Bennett,14,2,447,71,TE,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,9.0
199,255,Thomas,Julius,Julius Thomas,17,1,624,33,TE,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,3.0

In [38]:

qb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
11,12,Rodgers,Aaron,Aaron Rodgers,1,1,487,73,QB,GBP,...,NaN,NaN,NaN,NaN,193.0,6.0,21.0,30.0,90.0,23.0
14,15,Brees,Drew,Drew Brees,2,1,495,73,QB,NOS,...,NaN,NaN,NaN,NaN,446.0,12.0,37.0,35.0,2.0,2.0
25,26,Manning,Peyton,Peyton Manning,3,1,502,74,QB,DEN,...,NaN,NaN,NaN,NaN,450.0,10.0,18.0,32.0,1.0,1.0
33,34,Brady,Tom,Tom Brady,3,1,497,74,QB,NEP,...,NaN,NaN,NaN,NaN,380.0,11.0,40.0,32.0,29.0,13.0
39,40,Newton,Cam,Cam Newton,4,1,486,75,QB,CAR,...,NaN,NaN,NaN,NaN,292.0,13.0,43.0,111.0,8.0,5.0
41,42,Ryan,Matt,Matt Ryan,4,1,472,75,QB,ATL,...,NaN,NaN,NaN,NaN,439.0,17.0,44.0,17.0,23.0,11.0
53,54,Kaepernick,Colin,Colin Kaepernick,5,1,498,78,QB,SFO,...,NaN,NaN,NaN,NaN,243.0,8.0,39.0,92.0,22.0,10.0
56,57,Stafford,Matthew,Matthew Stafford,5,1,468,75,QB,DET,...,NaN,NaN,NaN,NaN,371.0,19.0,23.0,37.0,7.0,4.0
61,62,Luck,Andrew,Andrew Luck,6,1,500,75,QB,IND,...,NaN,NaN,NaN,NaN,343.0,9.0,32.0,63.0,10.0,6.0
69,71,Wilson,Russell,Russell Wilson,6,1,490,79,QB,SEA,...,NaN,NaN,NaN,NaN,257.0,9.0,44.0,96.0,18.0,8.0
70,72,Romo,Tony,Tony Romo,6,1,477,77,QB,DAL,...,NaN,NaN,NaN,NaN,342.0,10.0,35.0,20.0,25.0,12.0
95,100,Manning,Eli,Eli Manning,8,1,482,78,QB,NYG,...,NaN,NaN,NaN,NaN,317.0,27.0,39.0,18.0,51.0,20.0
111,133,Dalton,Andy,Andy Dalton,10,1,483,79,QB,CIN,...,NaN,NaN,NaN,NaN,363.0,20.0,29.0,61.0,6.0,3.0
124,151,Glennon,Mike,Mike Glennon,11,2,718,8,QB,TBB,...,NaN,NaN,NaN,NaN,247.0,9.0,40.0,27.0,87.0,22.0
142,173,Smith,Geno,Geno Smith,12,1,669,29,QB,NYJ,...,NaN,NaN,NaN,NaN,247.0,21.0,43.0,72.0,42.5,19.0
154,189,Roethlisberger,Ben,Ben Roethlisberger,13,1,475,73,QB,PIT,...,NaN,NaN,NaN,NaN,375.0,14.0,42.0,27.0,20.5,9.0
163,207,Cutler,Jay,Jay Cutler,14,1,489,72,QB,CHI,...,NaN,NaN,NaN,NaN,224.0,12.0,19.0,23.0,74.0,21.0
169,217,Flacco,Joe,Joe Flacco,15,1,493,70,QB,BAL,...,NaN,NaN,NaN,NaN,362.0,22.0,48.0,27.0,39.0,18.0
186,238,Palmer,Carson,Carson Palmer,16,1,496,65,QB,ARI,...,NaN,NaN,NaN,NaN,362.0,22.0,41.0,27.0,35.0,17.0
204,263,Rivers,Philip,Philip Rivers,18,2,484,51,QB,SDC,...,NaN,NaN,NaN,NaN,378.0,11.0,30.0,28.0,12.0,7.0
206,267,Smith,Alex,Alex Smith,18,2,527,47,QB,KCC,...,NaN,NaN,NaN,NaN,308.0,7.0,39.0,76.0,32.0,15.0
210,272,Tannehill,Ryan,Ryan Tannehill,18,1,460,46,QB,MIA,...,NaN,NaN,NaN,NaN,355.0,17.0,58.0,40.0,31.0,14.0
269,355,Foles,Nick,Nick Foles,23,1,665,9,QB,PHI,...,NaN,NaN,NaN,NaN,203.0,2.0,28.0,57.0,34.0,16.0
276,363,Pryor,Terrelle,Terrelle Pryor,24,1,709,13,QB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,24.0

In [39]:
rb2 = rb[(rb['FantasyPointsRank'] <= 50)]
wr2 = wr[(wr['FantasyPointsRank'] <= 50)]
te2 = te[(te['FantasyPointsRank'] <= 50)]
qb2 = qb[(qb['FantasyPointsRank'] <= 50)]
rb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Peterson,Adrian,Adrian Peterson,1,1,450,73,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,10.0
4,5,Charles,Jamaal,Jamaal Charles,1,1,470,76,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,441,76,RB,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0
8,9,Lynch,Marshawn,Marshawn Lynch,1,1,448,75,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0
10,11,Forte,Matt,Matt Forte,1,1,474,76,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
17,18,Johnson,Chris,Chris Johnson,2,1,433,77,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,9.0
23,24,Bush,Reggie,Reggie Bush,2,1,445,79,RB,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,7.0
34,35,Murray,DeMarco,DeMarco Murray,3,1,430,78,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,6.0
38,39,Lacy,Eddie,Eddie Lacy,4,1,647,98,RB,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,8.0
157,195,Woodhead,Danny,Danny Woodhead,14,2,485,69,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,12.0
170,218,Jackson,Fred,Fred Jackson,15,5,464,71,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,11.0
202,259,Moreno,Knowshon,Knowshon Moreno,17,1,478,53,RB,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,4.0

In [40]:
wr2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
3,4,Johnson,Calvin,Calvin Johnson,1,1,393,74,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
12,13,Bryant,Dez,Dez Bryant,2,1,426,75,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5,7.0
13,14,Green,A.J.,A.J. Green,2,1,408,76,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Marshall,Brandon,Brandon Marshall,2,1,395,75,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
21,22,Thomas,Demaryius,Demaryius Thomas,2,1,459,77,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,1.0
24,25,Fitzgerald,Larry,Larry Fitzgerald,3,1,366,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
26,27,Johnson,Andre,Andre Johnson,3,1,405,77,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,10.0
36,37,Jackson,Vincent,Vincent Jackson,4,1,373,79,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,16.0
51,52,Nelson,Jordy,Jordy Nelson,5,1,364,81,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,13.0
54,55,Garcon,Pierre,Pierre Garcon,5,1,410,81,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,11.0
59,60,Decker,Eric,Eric Decker,5,1,382,81,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,9.0
60,61,Brown,Antonio,Antonio Brown,6,1,438,81,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,3.0
68,70,Jackson,DeSean,DeSean Jackson,6,1,425,82,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,12.0
84,89,Boldin,Anquan,Anquan Boldin,8,3,375,83,WR,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,15.0
88,93,Gordon,Josh,Josh Gordon,8,1,416,79,WR,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2.0
149,184,Jeffery,Alshon,Alshon Jeffery,13,2,451,69,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,8.0
234,308,Edelman,Julian,Julian Edelman,20,6,576,32,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,14.0

In [41]:
te2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
18,19,Graham,Jimmy,Jimmy Graham,2,1,356,77,TE,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,1.0

In [42]:
qb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
14,15,Brees,Drew,Drew Brees,2,1,495,73,QB,NOS,...,NaN,NaN,NaN,NaN,446.0,12.0,37.0,35.0,2.0,2.0
25,26,Manning,Peyton,Peyton Manning,3,1,502,74,QB,DEN,...,NaN,NaN,NaN,NaN,450.0,10.0,18.0,32.0,1.0,1.0
33,34,Brady,Tom,Tom Brady,3,1,497,74,QB,NEP,...,NaN,NaN,NaN,NaN,380.0,11.0,40.0,32.0,29.0,13.0
39,40,Newton,Cam,Cam Newton,4,1,486,75,QB,CAR,...,NaN,NaN,NaN,NaN,292.0,13.0,43.0,111.0,8.0,5.0
41,42,Ryan,Matt,Matt Ryan,4,1,472,75,QB,ATL,...,NaN,NaN,NaN,NaN,439.0,17.0,44.0,17.0,23.0,11.0
53,54,Kaepernick,Colin,Colin Kaepernick,5,1,498,78,QB,SFO,...,NaN,NaN,NaN,NaN,243.0,8.0,39.0,92.0,22.0,10.0
56,57,Stafford,Matthew,Matthew Stafford,5,1,468,75,QB,DET,...,NaN,NaN,NaN,NaN,371.0,19.0,23.0,37.0,7.0,4.0
61,62,Luck,Andrew,Andrew Luck,6,1,500,75,QB,IND,...,NaN,NaN,NaN,NaN,343.0,9.0,32.0,63.0,10.0,6.0
69,71,Wilson,Russell,Russell Wilson,6,1,490,79,QB,SEA,...,NaN,NaN,NaN,NaN,257.0,9.0,44.0,96.0,18.0,8.0
70,72,Romo,Tony,Tony Romo,6,1,477,77,QB,DAL,...,NaN,NaN,NaN,NaN,342.0,10.0,35.0,20.0,25.0,12.0
111,133,Dalton,Andy,Andy Dalton,10,1,483,79,QB,CIN,...,NaN,NaN,NaN,NaN,363.0,20.0,29.0,61.0,6.0,3.0
142,173,Smith,Geno,Geno Smith,12,1,669,29,QB,NYJ,...,NaN,NaN,NaN,NaN,247.0,21.0,43.0,72.0,42.5,19.0
154,189,Roethlisberger,Ben,Ben Roethlisberger,13,1,475,73,QB,PIT,...,NaN,NaN,NaN,NaN,375.0,14.0,42.0,27.0,20.5,9.0
169,217,Flacco,Joe,Joe Flacco,15,1,493,70,QB,BAL,...,NaN,NaN,NaN,NaN,362.0,22.0,48.0,27.0,39.0,18.0
186,238,Palmer,Carson,Carson Palmer,16,1,496,65,QB,ARI,...,NaN,NaN,NaN,NaN,362.0,22.0,41.0,27.0,35.0,17.0
204,263,Rivers,Philip,Philip Rivers,18,2,484,51,QB,SDC,...,NaN,NaN,NaN,NaN,378.0,11.0,30.0,28.0,12.0,7.0
206,267,Smith,Alex,Alex Smith,18,2,527,47,QB,KCC,...,NaN,NaN,NaN,NaN,308.0,7.0,39.0,76.0,32.0,15.0
210,272,Tannehill,Ryan,Ryan Tannehill,18,1,460,46,QB,MIA,...,NaN,NaN,NaN,NaN,355.0,17.0,58.0,40.0,31.0,14.0
269,355,Foles,Nick,Nick Foles,23,1,665,9,QB,PHI,...,NaN,NaN,NaN,NaN,203.0,2.0,28.0,57.0,34.0,16.0

In [43]:
rb3 = rb[(rb['FantasyPointsRank'] <= 25)]
wr3 = wr[(wr['FantasyPointsRank'] <= 25)]
te3 = te[(te['FantasyPointsRank'] <= 25)]
qb3 = qb[(qb['FantasyPointsRank'] <= 25)]
rb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
4,5,Charles,Jamaal,Jamaal Charles,1,1,470,76,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,441,76,RB,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0
10,11,Forte,Matt,Matt Forte,1,1,474,76,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
202,259,Moreno,Knowshon,Knowshon Moreno,17,1,478,53,RB,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,4.0

In [44]:
wr3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
3,4,Johnson,Calvin,Calvin Johnson,1,1,393,74,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
12,13,Bryant,Dez,Dez Bryant,2,1,426,75,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.5,7.0
13,14,Green,A.J.,A.J. Green,2,1,408,76,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Marshall,Brandon,Brandon Marshall,2,1,395,75,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
21,22,Thomas,Demaryius,Demaryius Thomas,2,1,459,77,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,1.0
60,61,Brown,Antonio,Antonio Brown,6,1,438,81,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,3.0
88,93,Gordon,Josh,Josh Gordon,8,1,416,79,WR,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2.0
149,184,Jeffery,Alshon,Alshon Jeffery,13,2,451,69,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,8.0

In [47]:
wr3['FantasyPointsRank'].sum()

122.5

In [45]:
te3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
18,19,Graham,Jimmy,Jimmy Graham,2,1,356,77,TE,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,1.0

In [46]:
qb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
14,15,Brees,Drew,Drew Brees,2,1,495,73,QB,NOS,...,NaN,NaN,NaN,NaN,446.0,12.0,37.0,35.0,2.0,2.0
25,26,Manning,Peyton,Peyton Manning,3,1,502,74,QB,DEN,...,NaN,NaN,NaN,NaN,450.0,10.0,18.0,32.0,1.0,1.0
39,40,Newton,Cam,Cam Newton,4,1,486,75,QB,CAR,...,NaN,NaN,NaN,NaN,292.0,13.0,43.0,111.0,8.0,5.0
41,42,Ryan,Matt,Matt Ryan,4,1,472,75,QB,ATL,...,NaN,NaN,NaN,NaN,439.0,17.0,44.0,17.0,23.0,11.0
53,54,Kaepernick,Colin,Colin Kaepernick,5,1,498,78,QB,SFO,...,NaN,NaN,NaN,NaN,243.0,8.0,39.0,92.0,22.0,10.0
56,57,Stafford,Matthew,Matthew Stafford,5,1,468,75,QB,DET,...,NaN,NaN,NaN,NaN,371.0,19.0,23.0,37.0,7.0,4.0
61,62,Luck,Andrew,Andrew Luck,6,1,500,75,QB,IND,...,NaN,NaN,NaN,NaN,343.0,9.0,32.0,63.0,10.0,6.0
69,71,Wilson,Russell,Russell Wilson,6,1,490,79,QB,SEA,...,NaN,NaN,NaN,NaN,257.0,9.0,44.0,96.0,18.0,8.0
70,72,Romo,Tony,Tony Romo,6,1,477,77,QB,DAL,...,NaN,NaN,NaN,NaN,342.0,10.0,35.0,20.0,25.0,12.0
111,133,Dalton,Andy,Andy Dalton,10,1,483,79,QB,CIN,...,NaN,NaN,NaN,NaN,363.0,20.0,29.0,61.0,6.0,3.0
154,189,Roethlisberger,Ben,Ben Roethlisberger,13,1,475,73,QB,PIT,...,NaN,NaN,NaN,NaN,375.0,14.0,42.0,27.0,20.5,9.0
204,263,Rivers,Philip,Philip Rivers,18,2,484,51,QB,SDC,...,NaN,NaN,NaN,NaN,378.0,11.0,30.0,28.0,12.0,7.0

In [48]:
rb_25_50 = rb2[(rb2['FantasyPointsRank'] >= 25)]
wr_25_50 = wr2[(wr2['FantasyPointsRank'] >= 25)]
te_25_50 = te2[(te2['FantasyPointsRank'] >= 25)]
qb_25_50 = qb2[(qb2['FantasyPointsRank'] >= 25)]
rb_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Peterson,Adrian,Adrian Peterson,1,1,450,73,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,10.0
8,9,Lynch,Marshawn,Marshawn Lynch,1,1,448,75,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0
17,18,Johnson,Chris,Chris Johnson,2,1,433,77,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,9.0
23,24,Bush,Reggie,Reggie Bush,2,1,445,79,RB,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,7.0
34,35,Murray,DeMarco,DeMarco Murray,3,1,430,78,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,6.0
38,39,Lacy,Eddie,Eddie Lacy,4,1,647,98,RB,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,8.0
157,195,Woodhead,Danny,Danny Woodhead,14,2,485,69,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,12.0
170,218,Jackson,Fred,Fred Jackson,15,5,464,71,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,11.0

In [50]:
rb_25_50['FantasyPointsRank'].sum()

342.0

In [49]:
wr_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
24,25,Fitzgerald,Larry,Larry Fitzgerald,3,1,366,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
26,27,Johnson,Andre,Andre Johnson,3,1,405,77,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,10.0
36,37,Jackson,Vincent,Vincent Jackson,4,1,373,79,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,16.0
51,52,Nelson,Jordy,Jordy Nelson,5,1,364,81,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,13.0
54,55,Garcon,Pierre,Pierre Garcon,5,1,410,81,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,11.0
59,60,Decker,Eric,Eric Decker,5,1,382,81,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,9.0
68,70,Jackson,DeSean,DeSean Jackson,6,1,425,82,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,12.0
84,89,Boldin,Anquan,Anquan Boldin,8,3,375,83,WR,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,15.0
234,308,Edelman,Julian,Julian Edelman,20,6,576,32,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,14.0

In [51]:
wr_25_50['FantasyPointsRank'].sum()

323.0