In [1]:
import pandas as pd

import gc # To collect garbage values generated during running

import matplotlib.pyplot as plt

import numpy as np

import seaborn as sns

In [3]:
d = pd.read_csv('2014_cleaned_with_rounds.csv')

In [4]:
rb = d.loc[d['Position'] == 'RB']
wr = d.loc[d['Position'] == 'WR']

In [5]:
wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-5-ea88c15edb18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
<ipython-input-5-ea88c15edb18>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

In [6]:
te = d.loc[d['Position'] == 'TE']
te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

<ipython-input-6-c576e4e6ce8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

In [7]:
qb = d.loc[d['Position'] == 'QB']
qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-7-4882867569a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

In [8]:
k = d.loc[d['Position'] == 'PK']
k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

<ipython-input-8-d0b0a0dfd751>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

In [9]:
Def = d.loc[d['Position'] == 'Def']
Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

<ipython-input-9-1cd933a4c506>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

In [10]:
rb_50 = rb.head(50)
after_rb = rb_50[(rb_50['FantasyPointsRank'] <= 70)]
after_rb.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,McCoy,LeSean,LeSean McCoy,1,1,436,74,RB,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,11.0
1,2,Charles,Jamaal,Jamaal Charles,1,1,464,74,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,7.0
3,4,Forte,Matt,Matt Forte,1,1,454,75,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,3.0
4,5,Lacy,Eddie,Eddie Lacy,1,1,473,75,RB,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,6.0
10,11,Lynch,Marshawn,Marshawn Lynch,1,1,458,77,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Murray,DeMarco,DeMarco Murray,2,1,454,77,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
21,22,Foster,Arian,Arian Foster,2,1,473,77,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,5.0
22,23,Bell,Le'Veon,Le'Veon Bell,2,1,476,77,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
67,68,Bell,Joique,Joique Bell,6,1,540,82,RB,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,12.0
95,109,Miller,Lamar,Lamar Miller,8,3,547,78,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,8.0
101,119,Hill,Jeremy,Jeremy Hill,9,1,889,84,RB,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,10.0
110,131,Jackson,Fred,Fred Jackson,10,1,514,77,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,14.0
155,190,Ingram,Mark,Mark Ingram,13,2,590,71,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,13.0

In [11]:
wr_50 = wr.head(50)
after_wr = wr_50[(wr_50['FantasyPointsRank'] <= 70)]
after_wr.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
2,3,Johnson,Calvin,Calvin Johnson,1,1,439,76,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,15.0
5,6,Thomas,Demaryius,Demaryius Thomas,1,1,441,76,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
7,8,Bryant,Dez,Dez Bryant,1,1,447,76,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4.0
9,10,Green,A.J.,A.J. Green,1,1,446,76,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,24.0
11,12,Jones,Julio,Julio Jones,1,1,449,76,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
18,19,Nelson,Jordy,Jordy Nelson,2,1,460,78,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
19,20,Brown,Antonio,Antonio Brown,2,1,458,78,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
23,24,Jeffery,Alshon,Alshon Jeffery,2,1,459,76,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10.0
24,25,Cobb,Randall,Randall Cobb,3,1,464,79,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,8.0
36,37,Johnson,Andre,Andre Johnson,4,1,478,79,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,29.0
42,42,White,Roddy,Roddy White,4,1,319,80,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,21.0
48,48,Jackson,DeSean,DeSean Jackson,5,1,427,79,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,23.0
52,52,Hilton,T.Y.,T.Y. Hilton,5,1,360,81,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,12.0
59,59,Edelman,Julian,Julian Edelman,5,1,364,83,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
61,61,Smith,Torrey,Torrey Smith,6,1,344,81,WR,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,28.0
62,62,Watkins,Sammy,Sammy Watkins,6,1,881,95,WR,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,27.0
66,66,Maclin,Jeremy,Jeremy Maclin,6,1,422,83,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,9.0
68,69,Sanders,Emmanuel,Emmanuel Sanders,6,1,340,83,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
73,76,Wallace,Mike,Mike Wallace,7,1,332,80,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,20.0
76,80,Decker,Eric,Eric Decker,7,1,379,79,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,26.0
77,83,Evans,Mike,Mike Evans,7,1,882,92,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0
83,92,Tate,Golden,Golden Tate,7,3,342,81,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,11.0
84,93,Benjamin,Kelvin,Kelvin Benjamin,8,1,894,94,WR,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,16.0
103,122,Hopkins,DeAndre,DeAndre Hopkins,9,1,369,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0
108,129,Matthews,Jordan,Jordan Matthews,10,1,883,77,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,25.0
126,155,Boldin,Anquan,Anquan Boldin,11,1,379,74,WR,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,18.0

In [12]:
te_50 = te.head(50)
after_te = te_50[(te_50['FantasyPointsRank'] <= 70)]
after_te.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
6,7,Graham,Jimmy,Jimmy Graham,1,1,444,75,TE,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,2.0
25,26,Gronkowski,Rob,Rob Gronkowski,3,1,465,78,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.5,1.0
82,91,Olsen,Greg,Greg Olsen,7,1,320,80,TE,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,5.0
123,149,Bennett,Martellus,Martellus Bennett,11,1,423,75,TE,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,4.0
181,225,Gates,Antonio,Antonio Gates,16,3,513,68,TE,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,3.0

In [13]:
qb_50 = qb.head(50)
after_qb = qb_50[(qb_50['FantasyPointsRank'] <= 70)]
after_qb.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
8,9,Manning,Peyton,Peyton Manning,1,1,498,73,QB,DEN,...,NaN,NaN,NaN,NaN,395.0,15.0,17.0,24.0,11.0,4.0
13,14,Rodgers,Aaron,Aaron Rodgers,2,1,484,74,QB,GBP,...,NaN,NaN,NaN,NaN,341.0,5.0,28.0,43.0,3.0,1.0
17,18,Brees,Drew,Drew Brees,2,1,493,74,QB,NOS,...,NaN,NaN,NaN,NaN,456.0,17.0,29.0,27.0,13.0,6.0
32,33,Luck,Andrew,Andrew Luck,3,1,485,75,QB,IND,...,NaN,NaN,NaN,NaN,380.0,16.0,27.0,64.0,5.0,2.0
33,34,Stafford,Matthew,Matthew Stafford,3,1,472,76,QB,DET,...,NaN,NaN,NaN,NaN,363.0,12.0,45.0,43.0,35.0,15.0
56,56,Brady,Tom,Tom Brady,5,1,487,77,QB,NEP,...,NaN,NaN,NaN,NaN,373.0,9.0,21.0,36.0,21.0,9.0
64,64,Ryan,Matt,Matt Ryan,6,1,482,77,QB,ATL,...,NaN,NaN,NaN,NaN,415.0,14.0,31.0,29.0,19.0,7.0
70,72,Newton,Cam,Cam Newton,6,1,478,76,QB,CAR,...,NaN,NaN,NaN,NaN,262.0,12.0,38.0,103.0,37.0,17.0
80,87,Kaepernick,Colin,Colin Kaepernick,7,1,490,77,QB,SFO,...,NaN,NaN,NaN,NaN,289.0,10.0,52.0,104.0,36.0,16.0
87,96,Cutler,Jay,Jay Cutler,8,1,483,80,QB,CHI,...,NaN,NaN,NaN,NaN,370.0,18.0,38.0,39.0,33.0,14.0
89,98,Wilson,Russell,Russell Wilson,8,1,486,78,QB,SEA,...,NaN,NaN,NaN,NaN,285.0,7.0,42.0,118.0,8.0,3.0
92,101,Romo,Tony,Tony Romo,8,1,471,79,QB,DAL,...,NaN,NaN,NaN,NaN,304.0,9.0,29.0,26.0,26.5,11.0
102,120,Rivers,Philip,Philip Rivers,9,1,494,78,QB,SDC,...,NaN,NaN,NaN,NaN,379.0,18.0,36.0,37.0,28.0,12.0
117,139,Dalton,Andy,Andy Dalton,10,1,481,78,QB,CIN,...,NaN,NaN,NaN,NaN,309.0,17.0,21.0,60.0,44.0,18.0
135,165,Roethlisberger,Ben,Ben Roethlisberger,12,1,566,76,QB,PIT,...,NaN,NaN,NaN,NaN,408.0,9.0,33.0,33.0,12.0,5.0
144,178,Carr,Derek,Derek Carr,13,1,919,25,QB,OAK,...,NaN,NaN,NaN,NaN,348.0,12.0,24.0,29.0,68.0,20.0
188,234,Tannehill,Ryan,Ryan Tannehill,16,1,470,62,QB,MIA,...,NaN,NaN,NaN,NaN,392.0,12.0,46.0,56.0,20.0,8.0
193,244,Smith,Alex,Alex Smith,17,1,465,59,QB,KCC,...,NaN,NaN,NaN,NaN,303.0,6.0,45.0,49.0,47.0,19.0
202,256,Flacco,Joe,Joe Flacco,17,1,567,56,QB,BAL,...,NaN,NaN,NaN,NaN,344.0,12.0,19.0,39.0,29.0,13.0
204,259,Manning,Eli,Eli Manning,18,1,610,55,QB,NYG,...,NaN,NaN,NaN,NaN,379.0,14.0,28.0,12.0,25.0,10.0

In [14]:
rb1 = rb[(rb['FantasyPointsRank'] <= 100)]
wr1 = wr[(wr['FantasyPointsRank'] <= 100)]
te1 = te[(te['FantasyPointsRank'] <= 100)]
qb1 = qb[(qb['FantasyPointsRank'] <= 100)]
rb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,McCoy,LeSean,LeSean McCoy,1,1,436,74,RB,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,11.0
1,2,Charles,Jamaal,Jamaal Charles,1,1,464,74,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,7.0
3,4,Forte,Matt,Matt Forte,1,1,454,75,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,3.0
4,5,Lacy,Eddie,Eddie Lacy,1,1,473,75,RB,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,6.0
10,11,Lynch,Marshawn,Marshawn Lynch,1,1,458,77,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Murray,DeMarco,DeMarco Murray,2,1,454,77,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
16,17,Bernard,Giovani,Giovani Bernard,2,1,456,77,RB,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.5,15.5
21,22,Foster,Arian,Arian Foster,2,1,473,77,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,5.0
22,23,Bell,Le'Veon,Le'Veon Bell,2,1,476,77,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
27,28,Morris,Alfred,Alfred Morris,3,1,469,77,RB,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.5,15.5
28,29,Ellington,Andre,Andre Ellington,3,1,850,79,RB,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,17.0
43,43,Vereen,Shane,Shane Vereen,4,1,415,82,RB,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,18.0
67,68,Bell,Joique,Joique Bell,6,1,540,82,RB,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,12.0
95,109,Miller,Lamar,Lamar Miller,8,3,547,78,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,8.0
101,119,Hill,Jeremy,Jeremy Hill,9,1,889,84,RB,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,10.0
110,131,Jackson,Fred,Fred Jackson,10,1,514,77,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,14.0
155,190,Ingram,Mark,Mark Ingram,13,2,590,71,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,13.0
237,312,Anderson,C.J.,C.J. Anderson,20,1,662,25,RB,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,9.0

In [15]:
wr1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
2,3,Johnson,Calvin,Calvin Johnson,1,1,439,76,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,15.0
5,6,Thomas,Demaryius,Demaryius Thomas,1,1,441,76,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
7,8,Bryant,Dez,Dez Bryant,1,1,447,76,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4.0
9,10,Green,A.J.,A.J. Green,1,1,446,76,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,24.0
11,12,Jones,Julio,Julio Jones,1,1,449,76,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
12,13,Marshall,Brandon,Brandon Marshall,2,1,690,76,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,34.0
18,19,Nelson,Jordy,Jordy Nelson,2,1,460,78,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
19,20,Brown,Antonio,Antonio Brown,2,1,458,78,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
23,24,Jeffery,Alshon,Alshon Jeffery,2,1,459,76,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10.0
24,25,Cobb,Randall,Randall Cobb,3,1,464,79,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,8.0
30,31,Allen,Keenan,Keenan Allen,3,1,494,79,WR,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,36.0
35,36,Jackson,Vincent,Vincent Jackson,3,1,479,79,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.5,32.0
36,37,Johnson,Andre,Andre Johnson,4,1,478,79,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,29.0
42,42,White,Roddy,Roddy White,4,1,319,80,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,21.0
46,46,Crabtree,Michael,Michael Crabtree,4,1,370,80,WR,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,45.0
48,48,Jackson,DeSean,DeSean Jackson,5,1,427,79,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,23.0
49,49,Floyd,Michael,Michael Floyd,5,1,350,81,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,43.0
52,52,Hilton,T.Y.,T.Y. Hilton,5,1,360,81,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,12.0
59,59,Edelman,Julian,Julian Edelman,5,1,364,83,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
61,61,Smith,Torrey,Torrey Smith,6,1,344,81,WR,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,28.0
62,62,Watkins,Sammy,Sammy Watkins,6,1,881,95,WR,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,27.0
66,66,Maclin,Jeremy,Jeremy Maclin,6,1,422,83,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,9.0
68,69,Sanders,Emmanuel,Emmanuel Sanders,6,1,340,83,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
72,75,Colston,Marques,Marques Colston,7,3,476,81,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.5,35.0
73,76,Wallace,Mike,Mike Wallace,7,1,332,80,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,20.0
74,77,Wright,Kendall,Kendall Wright,7,1,347,79,WR,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,41.0
76,80,Decker,Eric,Eric Decker,7,1,379,79,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,26.0
77,83,Evans,Mike,Mike Evans,7,1,882,92,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0
83,92,Tate,Golden,Golden Tate,7,3,342,81,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,11.0
84,93,Benjamin,Kelvin,Kelvin Benjamin,8,1,894,94,WR,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,16.0
103,122,Hopkins,DeAndre,DeAndre Hopkins,9,1,369,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0
108,129,Matthews,Jordan,Jordan Matthews,10,1,883,77,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,25.0
114,135,Randle,Rueben,Rueben Randle,10,4,564,73,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,30.0
126,155,Boldin,Anquan,Anquan Boldin,11,1,379,74,WR,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,18.0
142,176,Landry,Jarvis,Jarvis Landry,12,3,911,22,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,31.0
154,189,Beckham,Odell,Odell Beckham,13,1,886,55,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,7.0
179,220,Stills,Kenny,Kenny Stills,15,6,413,61,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,37.0
186,231,Jennings,Greg,Greg Jennings,16,7,465,62,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,40.0
192,241,Smith,Steve,Steve Smith,17,1,497,63,WR,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,19.0
205,260,Jones,James,James Jones,18,7,491,55,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.5,38.5
215,275,Baldwin,Doug,Doug Baldwin,18,1,469,48,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,42.0
232,304,Woods,Robert,Robert Woods,20,7,467,34,WR,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,44.0
255,337,LaFell,Brandon,Brandon LaFell,22,4,605,22,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,22.0
258,340,Floyd,Malcom,Malcom Floyd,22,3,580,27,WR,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.5,38.5
260,342,Sanu,Mohamed,Mohamed Sanu,22,8,665,18,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,33.0

In [16]:
te1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
6,7,Graham,Jimmy,Jimmy Graham,1,1,444,75,TE,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,2.0
25,26,Gronkowski,Rob,Rob Gronkowski,3,1,465,78,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.5,1.0
26,27,Thomas,Julius,Julius Thomas,3,1,467,79,TE,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,10.0
69,71,Witten,Jason,Jason Witten,6,1,428,81,TE,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,9.0
82,91,Olsen,Greg,Greg Olsen,7,1,320,80,TE,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,5.0
123,149,Bennett,Martellus,Martellus Bennett,11,1,423,75,TE,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,4.0
181,225,Gates,Antonio,Antonio Gates,16,3,513,68,TE,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,3.0
201,255,Kelce,Travis,Travis Kelce,17,2,592,52,TE,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.5,6.0
211,267,Walker,Delanie,Delanie Walker,18,3,480,53,TE,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,8.0
226,292,Fleener,Coby,Coby Fleener,19,6,567,40,TE,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,7.0

In [17]:
qb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
8,9,Manning,Peyton,Peyton Manning,1,1,498,73,QB,DEN,...,NaN,NaN,NaN,NaN,395.0,15.0,17.0,24.0,11.0,4.0
13,14,Rodgers,Aaron,Aaron Rodgers,2,1,484,74,QB,GBP,...,NaN,NaN,NaN,NaN,341.0,5.0,28.0,43.0,3.0,1.0
17,18,Brees,Drew,Drew Brees,2,1,493,74,QB,NOS,...,NaN,NaN,NaN,NaN,456.0,17.0,29.0,27.0,13.0,6.0
32,33,Luck,Andrew,Andrew Luck,3,1,485,75,QB,IND,...,NaN,NaN,NaN,NaN,380.0,16.0,27.0,64.0,5.0,2.0
33,34,Stafford,Matthew,Matthew Stafford,3,1,472,76,QB,DET,...,NaN,NaN,NaN,NaN,363.0,12.0,45.0,43.0,35.0,15.0
56,56,Brady,Tom,Tom Brady,5,1,487,77,QB,NEP,...,NaN,NaN,NaN,NaN,373.0,9.0,21.0,36.0,21.0,9.0
64,64,Ryan,Matt,Matt Ryan,6,1,482,77,QB,ATL,...,NaN,NaN,NaN,NaN,415.0,14.0,31.0,29.0,19.0,7.0
70,72,Newton,Cam,Cam Newton,6,1,478,76,QB,CAR,...,NaN,NaN,NaN,NaN,262.0,12.0,38.0,103.0,37.0,17.0
80,87,Kaepernick,Colin,Colin Kaepernick,7,1,490,77,QB,SFO,...,NaN,NaN,NaN,NaN,289.0,10.0,52.0,104.0,36.0,16.0
87,96,Cutler,Jay,Jay Cutler,8,1,483,80,QB,CHI,...,NaN,NaN,NaN,NaN,370.0,18.0,38.0,39.0,33.0,14.0
89,98,Wilson,Russell,Russell Wilson,8,1,486,78,QB,SEA,...,NaN,NaN,NaN,NaN,285.0,7.0,42.0,118.0,8.0,3.0
92,101,Romo,Tony,Tony Romo,8,1,471,79,QB,DAL,...,NaN,NaN,NaN,NaN,304.0,9.0,29.0,26.0,26.5,11.0
102,120,Rivers,Philip,Philip Rivers,9,1,494,78,QB,SDC,...,NaN,NaN,NaN,NaN,379.0,18.0,36.0,37.0,28.0,12.0
117,139,Dalton,Andy,Andy Dalton,10,1,481,78,QB,CIN,...,NaN,NaN,NaN,NaN,309.0,17.0,21.0,60.0,44.0,18.0
135,165,Roethlisberger,Ben,Ben Roethlisberger,12,1,566,76,QB,PIT,...,NaN,NaN,NaN,NaN,408.0,9.0,33.0,33.0,12.0,5.0
144,178,Carr,Derek,Derek Carr,13,1,919,25,QB,OAK,...,NaN,NaN,NaN,NaN,348.0,12.0,24.0,29.0,68.0,20.0
156,191,Bortles,Blake,Blake Bortles,14,1,903,42,QB,JAC,...,NaN,NaN,NaN,NaN,280.0,17.0,55.0,56.0,92.0,23.0
165,200,Bridgewater,Teddy,Teddy Bridgewater,14,1,892,46,QB,MIN,...,NaN,NaN,NaN,NaN,259.0,12.0,39.0,47.0,78.0,22.0
188,234,Tannehill,Ryan,Ryan Tannehill,16,1,470,62,QB,MIA,...,NaN,NaN,NaN,NaN,392.0,12.0,46.0,56.0,20.0,8.0
193,244,Smith,Alex,Alex Smith,17,1,465,59,QB,KCC,...,NaN,NaN,NaN,NaN,303.0,6.0,45.0,49.0,47.0,19.0
202,256,Flacco,Joe,Joe Flacco,17,1,567,56,QB,BAL,...,NaN,NaN,NaN,NaN,344.0,12.0,19.0,39.0,29.0,13.0
204,259,Manning,Eli,Eli Manning,18,1,610,55,QB,NYG,...,NaN,NaN,NaN,NaN,379.0,14.0,28.0,12.0,25.0,10.0
273,357,Fitzpatrick,Ryan,Ryan Fitzpatrick,23,9,813,17,QB,HOU,...,NaN,NaN,NaN,NaN,197.0,8.0,21.0,50.0,76.5,21.0

In [18]:
rb2 = rb[(rb['FantasyPointsRank'] <= 50)]
wr2 = wr[(wr['FantasyPointsRank'] <= 50)]
te2 = te[(te['FantasyPointsRank'] <= 50)]
qb2 = qb[(qb['FantasyPointsRank'] <= 50)]
rb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
1,2,Charles,Jamaal,Jamaal Charles,1,1,464,74,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,7.0
3,4,Forte,Matt,Matt Forte,1,1,454,75,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,3.0
4,5,Lacy,Eddie,Eddie Lacy,1,1,473,75,RB,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,6.0
10,11,Lynch,Marshawn,Marshawn Lynch,1,1,458,77,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Murray,DeMarco,DeMarco Murray,2,1,454,77,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
21,22,Foster,Arian,Arian Foster,2,1,473,77,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,5.0
22,23,Bell,Le'Veon,Le'Veon Bell,2,1,476,77,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
95,109,Miller,Lamar,Lamar Miller,8,3,547,78,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,8.0

In [19]:
wr2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
2,3,Johnson,Calvin,Calvin Johnson,1,1,439,76,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,15.0
5,6,Thomas,Demaryius,Demaryius Thomas,1,1,441,76,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
7,8,Bryant,Dez,Dez Bryant,1,1,447,76,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4.0
11,12,Jones,Julio,Julio Jones,1,1,449,76,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
18,19,Nelson,Jordy,Jordy Nelson,2,1,460,78,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
19,20,Brown,Antonio,Antonio Brown,2,1,458,78,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
23,24,Jeffery,Alshon,Alshon Jeffery,2,1,459,76,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10.0
24,25,Cobb,Randall,Randall Cobb,3,1,464,79,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,8.0
52,52,Hilton,T.Y.,T.Y. Hilton,5,1,360,81,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,12.0
59,59,Edelman,Julian,Julian Edelman,5,1,364,83,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
66,66,Maclin,Jeremy,Jeremy Maclin,6,1,422,83,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,9.0
68,69,Sanders,Emmanuel,Emmanuel Sanders,6,1,340,83,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
77,83,Evans,Mike,Mike Evans,7,1,882,92,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0
83,92,Tate,Golden,Golden Tate,7,3,342,81,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,11.0
84,93,Benjamin,Kelvin,Kelvin Benjamin,8,1,894,94,WR,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,16.0
103,122,Hopkins,DeAndre,DeAndre Hopkins,9,1,369,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0
154,189,Beckham,Odell,Odell Beckham,13,1,886,55,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,7.0

In [20]:
te2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
6,7,Graham,Jimmy,Jimmy Graham,1,1,444,75,TE,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,2.0
25,26,Gronkowski,Rob,Rob Gronkowski,3,1,465,78,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.5,1.0
82,91,Olsen,Greg,Greg Olsen,7,1,320,80,TE,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,5.0
123,149,Bennett,Martellus,Martellus Bennett,11,1,423,75,TE,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,4.0
181,225,Gates,Antonio,Antonio Gates,16,3,513,68,TE,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,3.0

In [21]:
qb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
8,9,Manning,Peyton,Peyton Manning,1,1,498,73,QB,DEN,...,NaN,NaN,NaN,NaN,395.0,15.0,17.0,24.0,11.0,4.0
13,14,Rodgers,Aaron,Aaron Rodgers,2,1,484,74,QB,GBP,...,NaN,NaN,NaN,NaN,341.0,5.0,28.0,43.0,3.0,1.0
17,18,Brees,Drew,Drew Brees,2,1,493,74,QB,NOS,...,NaN,NaN,NaN,NaN,456.0,17.0,29.0,27.0,13.0,6.0
32,33,Luck,Andrew,Andrew Luck,3,1,485,75,QB,IND,...,NaN,NaN,NaN,NaN,380.0,16.0,27.0,64.0,5.0,2.0
33,34,Stafford,Matthew,Matthew Stafford,3,1,472,76,QB,DET,...,NaN,NaN,NaN,NaN,363.0,12.0,45.0,43.0,35.0,15.0
56,56,Brady,Tom,Tom Brady,5,1,487,77,QB,NEP,...,NaN,NaN,NaN,NaN,373.0,9.0,21.0,36.0,21.0,9.0
64,64,Ryan,Matt,Matt Ryan,6,1,482,77,QB,ATL,...,NaN,NaN,NaN,NaN,415.0,14.0,31.0,29.0,19.0,7.0
70,72,Newton,Cam,Cam Newton,6,1,478,76,QB,CAR,...,NaN,NaN,NaN,NaN,262.0,12.0,38.0,103.0,37.0,17.0
80,87,Kaepernick,Colin,Colin Kaepernick,7,1,490,77,QB,SFO,...,NaN,NaN,NaN,NaN,289.0,10.0,52.0,104.0,36.0,16.0
87,96,Cutler,Jay,Jay Cutler,8,1,483,80,QB,CHI,...,NaN,NaN,NaN,NaN,370.0,18.0,38.0,39.0,33.0,14.0
89,98,Wilson,Russell,Russell Wilson,8,1,486,78,QB,SEA,...,NaN,NaN,NaN,NaN,285.0,7.0,42.0,118.0,8.0,3.0
92,101,Romo,Tony,Tony Romo,8,1,471,79,QB,DAL,...,NaN,NaN,NaN,NaN,304.0,9.0,29.0,26.0,26.5,11.0
102,120,Rivers,Philip,Philip Rivers,9,1,494,78,QB,SDC,...,NaN,NaN,NaN,NaN,379.0,18.0,36.0,37.0,28.0,12.0
117,139,Dalton,Andy,Andy Dalton,10,1,481,78,QB,CIN,...,NaN,NaN,NaN,NaN,309.0,17.0,21.0,60.0,44.0,18.0
135,165,Roethlisberger,Ben,Ben Roethlisberger,12,1,566,76,QB,PIT,...,NaN,NaN,NaN,NaN,408.0,9.0,33.0,33.0,12.0,5.0
188,234,Tannehill,Ryan,Ryan Tannehill,16,1,470,62,QB,MIA,...,NaN,NaN,NaN,NaN,392.0,12.0,46.0,56.0,20.0,8.0
193,244,Smith,Alex,Alex Smith,17,1,465,59,QB,KCC,...,NaN,NaN,NaN,NaN,303.0,6.0,45.0,49.0,47.0,19.0
202,256,Flacco,Joe,Joe Flacco,17,1,567,56,QB,BAL,...,NaN,NaN,NaN,NaN,344.0,12.0,19.0,39.0,29.0,13.0
204,259,Manning,Eli,Eli Manning,18,1,610,55,QB,NYG,...,NaN,NaN,NaN,NaN,379.0,14.0,28.0,12.0,25.0,10.0

In [22]:
rb3 = rb[(rb['FantasyPointsRank'] <= 25)]
wr3 = wr[(wr['FantasyPointsRank'] <= 25)]
te3 = te[(te['FantasyPointsRank'] <= 25)]
qb3 = qb[(qb['FantasyPointsRank'] <= 25)]
rb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
3,4,Forte,Matt,Matt Forte,1,1,454,75,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,3.0
4,5,Lacy,Eddie,Eddie Lacy,1,1,473,75,RB,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,6.0
10,11,Lynch,Marshawn,Marshawn Lynch,1,1,458,77,RB,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,4.0
15,16,Murray,DeMarco,DeMarco Murray,2,1,454,77,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
21,22,Foster,Arian,Arian Foster,2,1,473,77,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,5.0
22,23,Bell,Le'Veon,Le'Veon Bell,2,1,476,77,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [23]:
wr3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
5,6,Thomas,Demaryius,Demaryius Thomas,1,1,441,76,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
7,8,Bryant,Dez,Dez Bryant,1,1,447,76,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4.0
11,12,Jones,Julio,Julio Jones,1,1,449,76,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.0
18,19,Nelson,Jordy,Jordy Nelson,2,1,460,78,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
19,20,Brown,Antonio,Antonio Brown,2,1,458,78,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
24,25,Cobb,Randall,Randall Cobb,3,1,464,79,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,8.0
66,66,Maclin,Jeremy,Jeremy Maclin,6,1,422,83,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,9.0
68,69,Sanders,Emmanuel,Emmanuel Sanders,6,1,340,83,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0
154,189,Beckham,Odell,Odell Beckham,13,1,886,55,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,7.0

In [26]:
wr3['FantasyPointsRank'].sum()

115.0

In [24]:
te3

Empty DataFrame
Columns: [Rank_x, Player_x, Unnamed: 2, Player_Name, Round, Min Pick, Max Pick, % Selected, Position, Team, PositionRank, Rank_y, Player_y, ATT, YDS, Y/A, LG, 20+, TD, REC, TGT, YDS.1, Y/R, TD.1, FL, G, FPTS, FPTS/G, OWN, FG, FGA, PCT, 1-19, 20-29, 30-39, 40-49, 50+, XPT, XPA, CMP, INT, SACKS, ATT.1, FantasyPointsRank, performance_fp_te]
Index: []

[0 rows x 45 columns]

In [25]:
qb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
8,9,Manning,Peyton,Peyton Manning,1,1,498,73,QB,DEN,...,NaN,NaN,NaN,NaN,395.0,15.0,17.0,24.0,11.0,4.0
13,14,Rodgers,Aaron,Aaron Rodgers,2,1,484,74,QB,GBP,...,NaN,NaN,NaN,NaN,341.0,5.0,28.0,43.0,3.0,1.0
17,18,Brees,Drew,Drew Brees,2,1,493,74,QB,NOS,...,NaN,NaN,NaN,NaN,456.0,17.0,29.0,27.0,13.0,6.0
32,33,Luck,Andrew,Andrew Luck,3,1,485,75,QB,IND,...,NaN,NaN,NaN,NaN,380.0,16.0,27.0,64.0,5.0,2.0
56,56,Brady,Tom,Tom Brady,5,1,487,77,QB,NEP,...,NaN,NaN,NaN,NaN,373.0,9.0,21.0,36.0,21.0,9.0
64,64,Ryan,Matt,Matt Ryan,6,1,482,77,QB,ATL,...,NaN,NaN,NaN,NaN,415.0,14.0,31.0,29.0,19.0,7.0
89,98,Wilson,Russell,Russell Wilson,8,1,486,78,QB,SEA,...,NaN,NaN,NaN,NaN,285.0,7.0,42.0,118.0,8.0,3.0
135,165,Roethlisberger,Ben,Ben Roethlisberger,12,1,566,76,QB,PIT,...,NaN,NaN,NaN,NaN,408.0,9.0,33.0,33.0,12.0,5.0
188,234,Tannehill,Ryan,Ryan Tannehill,16,1,470,62,QB,MIA,...,NaN,NaN,NaN,NaN,392.0,12.0,46.0,56.0,20.0,8.0
204,259,Manning,Eli,Eli Manning,18,1,610,55,QB,NYG,...,NaN,NaN,NaN,NaN,379.0,14.0,28.0,12.0,25.0,10.0

In [27]:
rb_25_50 = rb2[(rb2['FantasyPointsRank'] >= 25)]
wr_25_50 = wr2[(wr2['FantasyPointsRank'] >= 25)]
te_25_50 = te2[(te2['FantasyPointsRank'] >= 25)]
qb_25_50 = qb2[(qb2['FantasyPointsRank'] >= 25)]
rb_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
1,2,Charles,Jamaal,Jamaal Charles,1,1,464,74,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,7.0
95,109,Miller,Lamar,Lamar Miller,8,3,547,78,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,8.0

In [29]:
rb_25_50['FantasyPointsRank'].sum()

79.0

In [28]:
wr_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
2,3,Johnson,Calvin,Calvin Johnson,1,1,439,76,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,15.0
23,24,Jeffery,Alshon,Alshon Jeffery,2,1,459,76,WR,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10.0
52,52,Hilton,T.Y.,T.Y. Hilton,5,1,360,81,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,12.0
59,59,Edelman,Julian,Julian Edelman,5,1,364,83,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,17.0
77,83,Evans,Mike,Mike Evans,7,1,882,92,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0
83,92,Tate,Golden,Golden Tate,7,3,342,81,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,11.0
84,93,Benjamin,Kelvin,Kelvin Benjamin,8,1,894,94,WR,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,16.0
103,122,Hopkins,DeAndre,DeAndre Hopkins,9,1,369,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0

In [30]:
wr_25_50['FantasyPointsRank'].sum()

305.0