In [1]:
import pandas as pd

import gc # To collect garbage values generated during running

import matplotlib.pyplot as plt

import numpy as np

import seaborn as sns

In [2]:
d = pd.read_csv('2015_cleaned_with_rounds.csv')

In [3]:
rb = d.loc[d['Position'] == 'RB']
wr = d.loc[d['Position'] == 'WR']

In [4]:
wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-4-ea88c15edb18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
<ipython-input-4-ea88c15edb18>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

In [5]:
te = d.loc[d['Position'] == 'TE']
te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

<ipython-input-5-c576e4e6ce8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

In [6]:
qb = d.loc[d['Position'] == 'QB']
qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-6-4882867569a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

In [7]:
k = d.loc[d['Position'] == 'PK']
k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

<ipython-input-7-d0b0a0dfd751>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

In [8]:
Def = d.loc[d['Position'] == 'Def']
Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

<ipython-input-8-1cd933a4c506>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

In [9]:
rb_50 = rb.head(50)
after_rb = rb_50[(rb_50['FantasyPointsRank'] <= 70)]
after_rb.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
4,5,Peterson,Adrian,Adrian Peterson,1,1,499,68,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,2.0
11,12,Forte,Matt,Matt Forte,1,1,489,68,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,8.0
28,29,Miller,Lamar,Lamar Miller,3,1,475,72,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,5.0
30,31,Gurley,Todd,Todd Gurley,3,1,884,96,RB,STL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,7.0
34,35,Ingram,Mark,Mark Ingram,3,1,463,72,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,12.0
35,36,Gore,Frank,Frank Gore,3,1,479,73,RB,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,13.0
43,45,Murray,Latavius,Latavius Murray,4,1,467,74,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,11.0
67,70,Martin,Doug,Doug Martin,6,1,516,75,RB,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,3.0
81,93,Ivory,Chris,Chris Ivory,7,1,494,76,RB,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,10.0
102,127,Johnson,David,David Johnson,9,1,905,80,RB,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,9.0
106,130,Freeman,Devonta,Devonta Freeman,9,1,487,70,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,1.0
114,142,McFadden,Darren,Darren McFadden,10,1,477,73,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,14.0
143,181,Woodhead,Danny,Danny Woodhead,12,2,487,71,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,6.0

In [10]:
wr_50 = wr.head(50)
after_wr = wr_50[(wr_50['FantasyPointsRank'] <= 70)]
after_wr.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,439,68,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0
6,7,Jones,Julio,Julio Jones,1,1,424,68,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
8,9,Thomas,Demaryius,Demaryius Thomas,1,1,359,69,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
12,13,Johnson,Calvin,Calvin Johnson,2,1,547,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,10.0
14,15,Green,A.J.,A.J. Green,2,1,387,70,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7.0
17,18,Beckham,Odell,Odell Beckham,2,1,466,67,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,5.0
18,19,Cobb,Randall,Randall Cobb,2,1,456,70,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,25.0
21,22,Hilton,T.Y.,T.Y. Hilton,2,1,436,70,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,21.0
24,25,Evans,Mike,Mike Evans,3,1,413,70,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,24.0
26,27,Cooks,Brandin,Brandin Cooks,3,1,462,72,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0
27,28,Cooper,Amari,Amari Cooper,3,1,883,96,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,22.0
29,30,Hopkins,DeAndre,DeAndre Hopkins,3,1,421,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,4.0
31,32,Sanders,Emmanuel,Emmanuel Sanders,3,1,338,72,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,20.0
33,34,Matthews,Jordan,Jordan Matthews,3,1,408,72,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,19.0
47,49,Watkins,Sammy,Sammy Watkins,4,1,465,72,WR,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,17.0
52,54,Maclin,Jeremy,Jeremy Maclin,5,1,469,74,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,15.0
53,55,Landry,Jarvis,Jarvis Landry,5,1,472,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
57,59,Marshall,Brandon,Brandon Marshall,5,1,307,73,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,3.0
63,66,Robinson,Allen,Allen Robinson,6,1,415,76,WR,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,6.0
82,94,Fitzgerald,Larry,Larry Fitzgerald,7,2,491,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,9.0
91,110,Brown,John,John Brown,8,2,471,75,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,23.0
101,126,Decker,Eric,Eric Decker,9,2,464,72,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0

In [11]:
te_50 = te.head(50)
after_te = te_50[(te_50['FantasyPointsRank'] <= 70)]
after_te.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
7,8,Gronkowski,Rob,Rob Gronkowski,1,1,351,69,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,1.0
50,52,Olsen,Greg,Greg Olsen,5,1,383,75,TE,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,4.0
127,160,Walker,Delanie,Delanie Walker,11,2,404,72,TE,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,3.0
220,294,Reed,Jordan,Jordan Reed,19,3,506,47,TE,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,2.0

In [12]:
qb_50 = qb.head(50)
after_qb = qb_50[(qb_50['FantasyPointsRank'] <= 70)]
after_qb.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
15,16,Rodgers,Aaron,Aaron Rodgers,2,1,523,67,QB,GBP,...,NaN,NaN,NaN,NaN,347.0,8.0,46.0,58.0,9.0,7.0
40,42,Wilson,Russell,Russell Wilson,4,1,452,70,QB,SEA,...,NaN,NaN,NaN,NaN,329.0,8.0,45.0,103.0,3.0,3.0
56,58,Brees,Drew,Drew Brees,5,1,515,68,QB,NOS,...,NaN,NaN,NaN,NaN,428.0,11.0,31.0,24.0,8.0,6.0
60,63,Roethlisberger,Ben,Ben Roethlisberger,6,1,587,72,QB,PIT,...,NaN,NaN,NaN,NaN,319.0,16.0,20.0,15.0,30.0,20.0
66,69,Ryan,Matt,Matt Ryan,6,1,510,71,QB,ATL,...,NaN,NaN,NaN,NaN,407.0,16.0,30.0,36.0,27.0,19.0
71,77,Brady,Tom,Tom Brady,6,1,521,72,QB,NEP,...,NaN,NaN,NaN,NaN,402.0,7.0,38.0,34.0,2.0,2.0
73,79,Newton,Cam,Cam Newton,7,1,501,72,QB,CAR,...,NaN,NaN,NaN,NaN,296.0,10.0,33.0,132.0,1.0,1.0
78,85,Stafford,Matthew,Matthew Stafford,7,1,522,71,QB,DET,...,NaN,NaN,NaN,NaN,398.0,13.0,44.0,44.0,11.0,9.0
85,99,Tannehill,Ryan,Ryan Tannehill,8,1,526,73,QB,MIA,...,NaN,NaN,NaN,NaN,363.0,12.0,45.0,32.0,24.0,17.0
107,131,Manning,Eli,Eli Manning,9,1,507,73,QB,NYG,...,NaN,NaN,NaN,NaN,387.0,14.0,27.0,20.0,12.0,10.0
111,137,Rivers,Philip,Philip Rivers,10,1,602,72,QB,SDC,...,NaN,NaN,NaN,NaN,437.0,13.0,40.0,17.0,15.0,12.0
112,138,Bradford,Sam,Sam Bradford,10,1,525,79,QB,PHI,...,NaN,NaN,NaN,NaN,346.0,14.0,28.0,26.0,50.0,24.0
120,148,Winston,Jameis,Jameis Winston,11,1,892,81,QB,TBB,...,NaN,NaN,NaN,NaN,312.0,15.0,27.0,54.0,18.0,13.0
130,164,Mariota,Marcus,Marcus Mariota,11,1,890,78,QB,TEN,...,NaN,NaN,NaN,NaN,230.0,10.0,38.0,34.0,41.0,22.0
132,166,Bridgewater,Teddy,Teddy Bridgewater,12,1,479,72,QB,MIN,...,NaN,NaN,NaN,NaN,292.0,9.0,44.0,44.0,45.0,23.0
181,237,Palmer,Carson,Carson Palmer,16,1,528,68,QB,ARI,...,NaN,NaN,NaN,NaN,342.0,11.0,25.0,25.0,6.0,5.0
210,275,Carr,Derek,Derek Carr,18,1,472,53,QB,OAK,...,NaN,NaN,NaN,NaN,350.0,13.0,31.0,33.0,19.0,14.0
212,277,Cutler,Jay,Jay Cutler,18,1,510,56,QB,CHI,...,NaN,NaN,NaN,NaN,311.0,11.0,29.0,38.0,31.0,21.0
214,281,Dalton,Andy,Andy Dalton,18,1,530,53,QB,CIN,...,NaN,NaN,NaN,NaN,255.0,7.0,20.0,57.0,26.0,18.0
222,296,Taylor,Tyrod,Tyrod Taylor,19,1,674,20,QB,BUF,...,NaN,NaN,NaN,NaN,242.0,6.0,36.0,104.0,21.0,15.0
234,313,Cousins,Kirk,Kirk Cousins,20,2,792,13,QB,WAS,...,NaN,NaN,NaN,NaN,379.0,11.0,26.0,26.0,10.0,8.0
235,314,Smith,Alex,Alex Smith,20,2,584,42,QB,KCC,...,NaN,NaN,NaN,NaN,307.0,7.0,45.0,84.0,22.0,16.0
240,319,Bortles,Blake,Blake Bortles,21,1,524,41,QB,JAC,...,NaN,NaN,NaN,NaN,355.0,18.0,51.0,52.0,4.0,4.0
289,378,Fitzpatrick,Ryan,Ryan Fitzpatrick,25,3,672,14,QB,NYJ,...,NaN,NaN,NaN,NaN,335.0,15.0,19.0,60.0,13.0,11.0

In [13]:
rb1 = rb[(rb['FantasyPointsRank'] <= 100)]
wr1 = wr[(wr['FantasyPointsRank'] <= 100)]
te1 = te[(te['FantasyPointsRank'] <= 100)]
qb1 = qb[(qb['FantasyPointsRank'] <= 100)]
rb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
4,5,Peterson,Adrian,Adrian Peterson,1,1,499,68,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,2.0
11,12,Forte,Matt,Matt Forte,1,1,489,68,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,8.0
13,14,Murray,DeMarco,DeMarco Murray,2,1,433,68,RB,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.5,17.0
16,17,McCoy,LeSean,LeSean McCoy,2,1,513,69,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,16.0
22,23,Hill,Jeremy,Jeremy Hill,2,1,471,70,RB,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,15.0
28,29,Miller,Lamar,Lamar Miller,3,1,475,72,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,5.0
30,31,Gurley,Todd,Todd Gurley,3,1,884,96,RB,STL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,7.0
34,35,Ingram,Mark,Mark Ingram,3,1,463,72,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,12.0
35,36,Gore,Frank,Frank Gore,3,1,479,73,RB,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,13.0
43,45,Murray,Latavius,Latavius Murray,4,1,467,74,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,11.0
54,56,Stewart,Jonathan,Jonathan Stewart,5,1,450,77,RB,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,19.0
65,68,Bernard,Giovani,Giovani Bernard,6,1,514,74,RB,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,18.0
67,70,Martin,Doug,Doug Martin,6,1,516,75,RB,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,3.0
81,93,Ivory,Chris,Chris Ivory,7,1,494,76,RB,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,10.0
87,103,Jennings,Rashad,Rashad Jennings,8,3,495,74,RB,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,21.0
102,127,Johnson,David,David Johnson,9,1,905,80,RB,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,9.0
106,130,Freeman,Devonta,Devonta Freeman,9,1,487,70,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,1.0
114,142,McFadden,Darren,Darren McFadden,10,1,477,73,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,14.0
143,181,Woodhead,Danny,Danny Woodhead,12,2,487,71,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,6.0
172,222,Sims,Charles,Charles Sims,15,3,460,58,RB,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,20.0
208,272,Hillman,Ronnie,Ronnie Hillman,18,2,705,45,RB,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,22.0
211,276,Williams,DeAngelo,DeAngelo Williams,18,1,667,60,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,4.0

In [14]:
wr1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,439,68,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0
6,7,Jones,Julio,Julio Jones,1,1,424,68,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
8,9,Thomas,Demaryius,Demaryius Thomas,1,1,359,69,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
12,13,Johnson,Calvin,Calvin Johnson,2,1,547,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,10.0
14,15,Green,A.J.,A.J. Green,2,1,387,70,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7.0
17,18,Beckham,Odell,Odell Beckham,2,1,466,67,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,5.0
18,19,Cobb,Randall,Randall Cobb,2,1,456,70,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,25.0
21,22,Hilton,T.Y.,T.Y. Hilton,2,1,436,70,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,21.0
24,25,Evans,Mike,Mike Evans,3,1,413,70,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,24.0
26,27,Cooks,Brandin,Brandin Cooks,3,1,462,72,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0
27,28,Cooper,Amari,Amari Cooper,3,1,883,96,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,22.0
29,30,Hopkins,DeAndre,DeAndre Hopkins,3,1,421,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,4.0
31,32,Sanders,Emmanuel,Emmanuel Sanders,3,1,338,72,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,20.0
33,34,Matthews,Jordan,Jordan Matthews,3,1,408,72,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,19.0
42,44,Tate,Golden,Golden Tate,4,1,380,73,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,28.0
47,49,Watkins,Sammy,Sammy Watkins,4,1,465,72,WR,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,17.0
52,54,Maclin,Jeremy,Jeremy Maclin,5,1,469,74,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,15.0
53,55,Landry,Jarvis,Jarvis Landry,5,1,472,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
57,59,Marshall,Brandon,Brandon Marshall,5,1,307,73,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,3.0
62,65,Bryant,Martavis,Martavis Bryant,6,1,407,76,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,33.0
63,66,Robinson,Allen,Allen Robinson,6,1,415,76,WR,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,6.0
82,94,Fitzgerald,Larry,Larry Fitzgerald,7,2,491,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,9.0
91,110,Brown,John,John Brown,8,2,471,75,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,23.0
95,116,Floyd,Michael,Michael Floyd,8,3,385,71,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,32.0
101,126,Decker,Eric,Eric Decker,9,2,464,72,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0
145,183,Garcon,Pierre,Pierre Garcon,13,5,571,68,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,31.0
198,260,Randle,Rueben,Rueben Randle,17,1,418,53,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,30.0
203,266,Crabtree,Michael,Michael Crabtree,17,1,474,60,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,18.0
216,286,Baldwin,Doug,Doug Baldwin,19,1,467,56,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,8.0
241,321,Jones,James,James Jones,21,2,771,13,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,27.0
261,344,Hurns,Allen,Allen Hurns,22,8,527,32,WR,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,16.0
293,383,Austin,Tavon,Tavon Austin,25,4,601,21,WR,STL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,26.0
320,414,Aiken,Kamar,Kamar Aiken,27,1,631,10,WR,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,29.0

In [15]:
te1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
7,8,Gronkowski,Rob,Rob Gronkowski,1,1,351,69,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,1.0
50,52,Olsen,Greg,Greg Olsen,5,1,383,75,TE,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,4.0
51,53,Kelce,Travis,Travis Kelce,5,1,467,75,TE,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.5,6.0
117,145,Eifert,Tyler,Tyler Eifert,10,1,513,73,TE,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,5.0
127,160,Walker,Delanie,Delanie Walker,11,2,404,72,TE,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,3.0
220,294,Reed,Jordan,Jordan Reed,19,3,506,47,TE,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,2.0

In [16]:
qb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
15,16,Rodgers,Aaron,Aaron Rodgers,2,1,523,67,QB,GBP,...,NaN,NaN,NaN,NaN,347.0,8.0,46.0,58.0,9.0,7.0
40,42,Wilson,Russell,Russell Wilson,4,1,452,70,QB,SEA,...,NaN,NaN,NaN,NaN,329.0,8.0,45.0,103.0,3.0,3.0
56,58,Brees,Drew,Drew Brees,5,1,515,68,QB,NOS,...,NaN,NaN,NaN,NaN,428.0,11.0,31.0,24.0,8.0,6.0
60,63,Roethlisberger,Ben,Ben Roethlisberger,6,1,587,72,QB,PIT,...,NaN,NaN,NaN,NaN,319.0,16.0,20.0,15.0,30.0,20.0
66,69,Ryan,Matt,Matt Ryan,6,1,510,71,QB,ATL,...,NaN,NaN,NaN,NaN,407.0,16.0,30.0,36.0,27.0,19.0
71,77,Brady,Tom,Tom Brady,6,1,521,72,QB,NEP,...,NaN,NaN,NaN,NaN,402.0,7.0,38.0,34.0,2.0,2.0
73,79,Newton,Cam,Cam Newton,7,1,501,72,QB,CAR,...,NaN,NaN,NaN,NaN,296.0,10.0,33.0,132.0,1.0,1.0
78,85,Stafford,Matthew,Matthew Stafford,7,1,522,71,QB,DET,...,NaN,NaN,NaN,NaN,398.0,13.0,44.0,44.0,11.0,9.0
85,99,Tannehill,Ryan,Ryan Tannehill,8,1,526,73,QB,MIA,...,NaN,NaN,NaN,NaN,363.0,12.0,45.0,32.0,24.0,17.0
107,131,Manning,Eli,Eli Manning,9,1,507,73,QB,NYG,...,NaN,NaN,NaN,NaN,387.0,14.0,27.0,20.0,12.0,10.0
111,137,Rivers,Philip,Philip Rivers,10,1,602,72,QB,SDC,...,NaN,NaN,NaN,NaN,437.0,13.0,40.0,17.0,15.0,12.0
112,138,Bradford,Sam,Sam Bradford,10,1,525,79,QB,PHI,...,NaN,NaN,NaN,NaN,346.0,14.0,28.0,26.0,50.0,24.0
120,148,Winston,Jameis,Jameis Winston,11,1,892,81,QB,TBB,...,NaN,NaN,NaN,NaN,312.0,15.0,27.0,54.0,18.0,13.0
130,164,Mariota,Marcus,Marcus Mariota,11,1,890,78,QB,TEN,...,NaN,NaN,NaN,NaN,230.0,10.0,38.0,34.0,41.0,22.0
132,166,Bridgewater,Teddy,Teddy Bridgewater,12,1,479,72,QB,MIN,...,NaN,NaN,NaN,NaN,292.0,9.0,44.0,44.0,45.0,23.0
177,229,Flacco,Joe,Joe Flacco,15,2,594,67,QB,BAL,...,NaN,NaN,NaN,NaN,266.0,12.0,16.0,13.0,78.5,26.0
181,237,Palmer,Carson,Carson Palmer,16,1,528,68,QB,ARI,...,NaN,NaN,NaN,NaN,342.0,11.0,25.0,25.0,6.0,5.0
210,275,Carr,Derek,Derek Carr,18,1,472,53,QB,OAK,...,NaN,NaN,NaN,NaN,350.0,13.0,31.0,33.0,19.0,14.0
212,277,Cutler,Jay,Jay Cutler,18,1,510,56,QB,CHI,...,NaN,NaN,NaN,NaN,311.0,11.0,29.0,38.0,31.0,21.0
214,281,Dalton,Andy,Andy Dalton,18,1,530,53,QB,CIN,...,NaN,NaN,NaN,NaN,255.0,7.0,20.0,57.0,26.0,18.0
222,296,Taylor,Tyrod,Tyrod Taylor,19,1,674,20,QB,BUF,...,NaN,NaN,NaN,NaN,242.0,6.0,36.0,104.0,21.0,15.0
234,313,Cousins,Kirk,Kirk Cousins,20,2,792,13,QB,WAS,...,NaN,NaN,NaN,NaN,379.0,11.0,26.0,26.0,10.0,8.0
235,314,Smith,Alex,Alex Smith,20,2,584,42,QB,KCC,...,NaN,NaN,NaN,NaN,307.0,7.0,45.0,84.0,22.0,16.0
240,319,Bortles,Blake,Blake Bortles,21,1,524,41,QB,JAC,...,NaN,NaN,NaN,NaN,355.0,18.0,51.0,52.0,4.0,4.0
289,378,Fitzpatrick,Ryan,Ryan Fitzpatrick,25,3,672,14,QB,NYJ,...,NaN,NaN,NaN,NaN,335.0,15.0,19.0,60.0,13.0,11.0
290,379,Hoyer,Brian,Brian Hoyer,25,4,815,10,QB,HOU,...,NaN,NaN,NaN,NaN,224.0,7.0,25.0,15.0,71.0,25.0

In [17]:
rb2 = rb[(rb['FantasyPointsRank'] <= 50)]
wr2 = wr[(wr['FantasyPointsRank'] <= 50)]
te2 = te[(te['FantasyPointsRank'] <= 50)]
qb2 = qb[(qb['FantasyPointsRank'] <= 50)]
rb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
4,5,Peterson,Adrian,Adrian Peterson,1,1,499,68,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,2.0
28,29,Miller,Lamar,Lamar Miller,3,1,475,72,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,5.0
30,31,Gurley,Todd,Todd Gurley,3,1,884,96,RB,STL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,7.0
67,70,Martin,Doug,Doug Martin,6,1,516,75,RB,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,3.0
106,130,Freeman,Devonta,Devonta Freeman,9,1,487,70,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,1.0
143,181,Woodhead,Danny,Danny Woodhead,12,2,487,71,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,6.0
211,276,Williams,DeAngelo,DeAngelo Williams,18,1,667,60,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,4.0

In [18]:
wr2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,439,68,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0
6,7,Jones,Julio,Julio Jones,1,1,424,68,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
8,9,Thomas,Demaryius,Demaryius Thomas,1,1,359,69,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
12,13,Johnson,Calvin,Calvin Johnson,2,1,547,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,10.0
14,15,Green,A.J.,A.J. Green,2,1,387,70,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7.0
17,18,Beckham,Odell,Odell Beckham,2,1,466,67,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,5.0
26,27,Cooks,Brandin,Brandin Cooks,3,1,462,72,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0
29,30,Hopkins,DeAndre,DeAndre Hopkins,3,1,421,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,4.0
52,54,Maclin,Jeremy,Jeremy Maclin,5,1,469,74,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,15.0
53,55,Landry,Jarvis,Jarvis Landry,5,1,472,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
57,59,Marshall,Brandon,Brandon Marshall,5,1,307,73,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,3.0
63,66,Robinson,Allen,Allen Robinson,6,1,415,76,WR,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,6.0
82,94,Fitzgerald,Larry,Larry Fitzgerald,7,2,491,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,9.0
101,126,Decker,Eric,Eric Decker,9,2,464,72,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0
216,286,Baldwin,Doug,Doug Baldwin,19,1,467,56,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,8.0

In [19]:
te2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
7,8,Gronkowski,Rob,Rob Gronkowski,1,1,351,69,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,1.0
127,160,Walker,Delanie,Delanie Walker,11,2,404,72,TE,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,3.0
220,294,Reed,Jordan,Jordan Reed,19,3,506,47,TE,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,2.0

In [20]:
qb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
15,16,Rodgers,Aaron,Aaron Rodgers,2,1,523,67,QB,GBP,...,NaN,NaN,NaN,NaN,347.0,8.0,46.0,58.0,9.0,7.0
40,42,Wilson,Russell,Russell Wilson,4,1,452,70,QB,SEA,...,NaN,NaN,NaN,NaN,329.0,8.0,45.0,103.0,3.0,3.0
56,58,Brees,Drew,Drew Brees,5,1,515,68,QB,NOS,...,NaN,NaN,NaN,NaN,428.0,11.0,31.0,24.0,8.0,6.0
60,63,Roethlisberger,Ben,Ben Roethlisberger,6,1,587,72,QB,PIT,...,NaN,NaN,NaN,NaN,319.0,16.0,20.0,15.0,30.0,20.0
66,69,Ryan,Matt,Matt Ryan,6,1,510,71,QB,ATL,...,NaN,NaN,NaN,NaN,407.0,16.0,30.0,36.0,27.0,19.0
71,77,Brady,Tom,Tom Brady,6,1,521,72,QB,NEP,...,NaN,NaN,NaN,NaN,402.0,7.0,38.0,34.0,2.0,2.0
73,79,Newton,Cam,Cam Newton,7,1,501,72,QB,CAR,...,NaN,NaN,NaN,NaN,296.0,10.0,33.0,132.0,1.0,1.0
78,85,Stafford,Matthew,Matthew Stafford,7,1,522,71,QB,DET,...,NaN,NaN,NaN,NaN,398.0,13.0,44.0,44.0,11.0,9.0
85,99,Tannehill,Ryan,Ryan Tannehill,8,1,526,73,QB,MIA,...,NaN,NaN,NaN,NaN,363.0,12.0,45.0,32.0,24.0,17.0
107,131,Manning,Eli,Eli Manning,9,1,507,73,QB,NYG,...,NaN,NaN,NaN,NaN,387.0,14.0,27.0,20.0,12.0,10.0
111,137,Rivers,Philip,Philip Rivers,10,1,602,72,QB,SDC,...,NaN,NaN,NaN,NaN,437.0,13.0,40.0,17.0,15.0,12.0
112,138,Bradford,Sam,Sam Bradford,10,1,525,79,QB,PHI,...,NaN,NaN,NaN,NaN,346.0,14.0,28.0,26.0,50.0,24.0
120,148,Winston,Jameis,Jameis Winston,11,1,892,81,QB,TBB,...,NaN,NaN,NaN,NaN,312.0,15.0,27.0,54.0,18.0,13.0
130,164,Mariota,Marcus,Marcus Mariota,11,1,890,78,QB,TEN,...,NaN,NaN,NaN,NaN,230.0,10.0,38.0,34.0,41.0,22.0
132,166,Bridgewater,Teddy,Teddy Bridgewater,12,1,479,72,QB,MIN,...,NaN,NaN,NaN,NaN,292.0,9.0,44.0,44.0,45.0,23.0
181,237,Palmer,Carson,Carson Palmer,16,1,528,68,QB,ARI,...,NaN,NaN,NaN,NaN,342.0,11.0,25.0,25.0,6.0,5.0
210,275,Carr,Derek,Derek Carr,18,1,472,53,QB,OAK,...,NaN,NaN,NaN,NaN,350.0,13.0,31.0,33.0,19.0,14.0
212,277,Cutler,Jay,Jay Cutler,18,1,510,56,QB,CHI,...,NaN,NaN,NaN,NaN,311.0,11.0,29.0,38.0,31.0,21.0
214,281,Dalton,Andy,Andy Dalton,18,1,530,53,QB,CIN,...,NaN,NaN,NaN,NaN,255.0,7.0,20.0,57.0,26.0,18.0
222,296,Taylor,Tyrod,Tyrod Taylor,19,1,674,20,QB,BUF,...,NaN,NaN,NaN,NaN,242.0,6.0,36.0,104.0,21.0,15.0
234,313,Cousins,Kirk,Kirk Cousins,20,2,792,13,QB,WAS,...,NaN,NaN,NaN,NaN,379.0,11.0,26.0,26.0,10.0,8.0
235,314,Smith,Alex,Alex Smith,20,2,584,42,QB,KCC,...,NaN,NaN,NaN,NaN,307.0,7.0,45.0,84.0,22.0,16.0
240,319,Bortles,Blake,Blake Bortles,21,1,524,41,QB,JAC,...,NaN,NaN,NaN,NaN,355.0,18.0,51.0,52.0,4.0,4.0
289,378,Fitzpatrick,Ryan,Ryan Fitzpatrick,25,3,672,14,QB,NYJ,...,NaN,NaN,NaN,NaN,335.0,15.0,19.0,60.0,13.0,11.0

In [21]:
rb3 = rb[(rb['FantasyPointsRank'] <= 25)]
wr3 = wr[(wr['FantasyPointsRank'] <= 25)]
te3 = te[(te['FantasyPointsRank'] <= 25)]
qb3 = qb[(qb['FantasyPointsRank'] <= 25)]
rb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
4,5,Peterson,Adrian,Adrian Peterson,1,1,499,68,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,2.0
106,130,Freeman,Devonta,Devonta Freeman,9,1,487,70,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,1.0

In [22]:
wr3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,439,68,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0
6,7,Jones,Julio,Julio Jones,1,1,424,68,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0
17,18,Beckham,Odell,Odell Beckham,2,1,466,67,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,5.0
29,30,Hopkins,DeAndre,DeAndre Hopkins,3,1,421,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,4.0
57,59,Marshall,Brandon,Brandon Marshall,5,1,307,73,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,3.0
63,66,Robinson,Allen,Allen Robinson,6,1,415,76,WR,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,6.0

In [25]:
wr3['FantasyPointsRank'].sum()

86.0

In [23]:
te3

Empty DataFrame
Columns: [Rank_x, Player_x, Unnamed: 2, Player_Name, Round, Min Pick, Max Pick, % Selected, Position, Team, PositionRank, Rank_y, Player_y, ATT, YDS, Y/A, LG, 20+, TD, REC, TGT, YDS.1, Y/R, TD.1, FL, G, FPTS, FPTS/G, OWN, FG, FGA, PCT, 1-19, 20-29, 30-39, 40-49, 50+, XPT, XPA, CMP, INT, SACKS, ATT.1, FantasyPointsRank, performance_fp_te]
Index: []

[0 rows x 45 columns]

In [24]:
qb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
15,16,Rodgers,Aaron,Aaron Rodgers,2,1,523,67,QB,GBP,...,NaN,NaN,NaN,NaN,347.0,8.0,46.0,58.0,9.0,7.0
40,42,Wilson,Russell,Russell Wilson,4,1,452,70,QB,SEA,...,NaN,NaN,NaN,NaN,329.0,8.0,45.0,103.0,3.0,3.0
56,58,Brees,Drew,Drew Brees,5,1,515,68,QB,NOS,...,NaN,NaN,NaN,NaN,428.0,11.0,31.0,24.0,8.0,6.0
71,77,Brady,Tom,Tom Brady,6,1,521,72,QB,NEP,...,NaN,NaN,NaN,NaN,402.0,7.0,38.0,34.0,2.0,2.0
73,79,Newton,Cam,Cam Newton,7,1,501,72,QB,CAR,...,NaN,NaN,NaN,NaN,296.0,10.0,33.0,132.0,1.0,1.0
78,85,Stafford,Matthew,Matthew Stafford,7,1,522,71,QB,DET,...,NaN,NaN,NaN,NaN,398.0,13.0,44.0,44.0,11.0,9.0
85,99,Tannehill,Ryan,Ryan Tannehill,8,1,526,73,QB,MIA,...,NaN,NaN,NaN,NaN,363.0,12.0,45.0,32.0,24.0,17.0
107,131,Manning,Eli,Eli Manning,9,1,507,73,QB,NYG,...,NaN,NaN,NaN,NaN,387.0,14.0,27.0,20.0,12.0,10.0
111,137,Rivers,Philip,Philip Rivers,10,1,602,72,QB,SDC,...,NaN,NaN,NaN,NaN,437.0,13.0,40.0,17.0,15.0,12.0
120,148,Winston,Jameis,Jameis Winston,11,1,892,81,QB,TBB,...,NaN,NaN,NaN,NaN,312.0,15.0,27.0,54.0,18.0,13.0
181,237,Palmer,Carson,Carson Palmer,16,1,528,68,QB,ARI,...,NaN,NaN,NaN,NaN,342.0,11.0,25.0,25.0,6.0,5.0
210,275,Carr,Derek,Derek Carr,18,1,472,53,QB,OAK,...,NaN,NaN,NaN,NaN,350.0,13.0,31.0,33.0,19.0,14.0
222,296,Taylor,Tyrod,Tyrod Taylor,19,1,674,20,QB,BUF,...,NaN,NaN,NaN,NaN,242.0,6.0,36.0,104.0,21.0,15.0
234,313,Cousins,Kirk,Kirk Cousins,20,2,792,13,QB,WAS,...,NaN,NaN,NaN,NaN,379.0,11.0,26.0,26.0,10.0,8.0
235,314,Smith,Alex,Alex Smith,20,2,584,42,QB,KCC,...,NaN,NaN,NaN,NaN,307.0,7.0,45.0,84.0,22.0,16.0
240,319,Bortles,Blake,Blake Bortles,21,1,524,41,QB,JAC,...,NaN,NaN,NaN,NaN,355.0,18.0,51.0,52.0,4.0,4.0
289,378,Fitzpatrick,Ryan,Ryan Fitzpatrick,25,3,672,14,QB,NYJ,...,NaN,NaN,NaN,NaN,335.0,15.0,19.0,60.0,13.0,11.0

In [26]:
rb_25_50 = rb2[(rb2['FantasyPointsRank'] >= 25)]
wr_25_50 = wr2[(wr2['FantasyPointsRank'] >= 25)]
te_25_50 = te2[(te2['FantasyPointsRank'] >= 25)]
qb_25_50 = qb2[(qb2['FantasyPointsRank'] >= 25)]
rb_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
4,5,Peterson,Adrian,Adrian Peterson,1,1,499,68,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,2.0
28,29,Miller,Lamar,Lamar Miller,3,1,475,72,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,5.0
30,31,Gurley,Todd,Todd Gurley,3,1,884,96,RB,STL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,7.0
67,70,Martin,Doug,Doug Martin,6,1,516,75,RB,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,3.0
143,181,Woodhead,Danny,Danny Woodhead,12,2,487,71,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,6.0
211,276,Williams,DeAngelo,DeAngelo Williams,18,1,667,60,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,4.0

In [28]:
rb_25_50['FantasyPointsRank'].sum()

230.0

In [27]:
wr_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
8,9,Thomas,Demaryius,Demaryius Thomas,1,1,359,69,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
12,13,Johnson,Calvin,Calvin Johnson,2,1,547,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,10.0
14,15,Green,A.J.,A.J. Green,2,1,387,70,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7.0
26,27,Cooks,Brandin,Brandin Cooks,3,1,462,72,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,14.0
52,54,Maclin,Jeremy,Jeremy Maclin,5,1,469,74,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,15.0
53,55,Landry,Jarvis,Jarvis Landry,5,1,472,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.5,11.5
82,94,Fitzgerald,Larry,Larry Fitzgerald,7,2,491,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,9.0
101,126,Decker,Eric,Eric Decker,9,2,464,72,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,13.0
216,286,Baldwin,Doug,Doug Baldwin,19,1,467,56,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,8.0

In [29]:
wr_25_50['FantasyPointsRank'].sum()

321.0