In [1]:
import pandas as pd

import gc # To collect garbage values generated during running

import matplotlib.pyplot as plt

import numpy as np

import seaborn as sns

In [2]:
d = pd.read_csv('2016_cleaned_with_rounds.csv')

In [3]:
rb = d.loc[d['Position'] == 'RB']
wr = d.loc[d['Position'] == 'WR']

In [4]:
wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-4-ea88c15edb18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
<ipython-input-4-ea88c15edb18>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

In [5]:
te = d.loc[d['Position'] == 'TE']
te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

<ipython-input-5-c576e4e6ce8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

In [6]:
qb = d.loc[d['Position'] == 'QB']
qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-6-4882867569a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

In [7]:
k = d.loc[d['Position'] == 'PK']
k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

<ipython-input-7-d0b0a0dfd751>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

In [8]:
Def = d.loc[d['Position'] == 'Def']
Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

<ipython-input-8-1cd933a4c506>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

In [9]:
rb_50 = rb.head(50)
after_rb = rb_50[(rb_50['FantasyPointsRank'] <= 70)]
after_rb.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
1,2,Elliott,Ezekiel,Ezekiel Elliott,1,1,743,98,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0
3,4,Gurley,Todd,Todd Gurley,1,1,830,70,RB,RAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,17.0
7,8,Bell,Le'Veon,Le'Veon Bell,1,1,457,74,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
10,11,Johnson,David,David Johnson,1,1,425,71,RB,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
12,12,Miller,Lamar,Lamar Miller,2,1,447,75,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.5,18.5
16,16,Freeman,Devonta,Devonta Freeman,2,1,458,74,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
24,24,Ingram,Mark,Mark Ingram,3,1,455,74,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,9.0
26,26,McCoy,LeSean,LeSean McCoy,3,1,419,74,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,4.0
36,36,Hyde,Carlos,Carlos Hyde,4,1,424,75,RB,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,15.0
43,43,Murray,Latavius,Latavius Murray,4,1,465,77,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
48,48,Murray,DeMarco,DeMarco Murray,5,1,431,75,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,5.0
60,65,Gordon,Melvin,Melvin Gordon,6,1,461,75,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,7.0
81,97,Gore,Frank,Frank Gore,7,1,475,77,RB,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,12.0
97,119,Ajayi,Jay,Jay Ajayi,9,2,450,74,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
143,181,Crowell,Isaiah,Isaiah Crowell,12,2,560,71,RB,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,14.0
147,185,Blount,LeGarrette,LeGarrette Blount,13,1,597,77,RB,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,8.0

In [10]:
wr_50 = wr.head(50)
after_wr = wr_50[(wr_50['FantasyPointsRank'] <= 70)]
after_wr.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
0,1,Brown,Antonio,Antonio Brown,1,1,436,73,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.5,3.0
2,3,Jones,Julio,Julio Jones,1,1,367,73,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,6.0
4,5,Beckham,Odell,Odell Beckham,1,1,363,73,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,4.0
15,15,Evans,Mike,Mike Evans,2,1,697,73,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,2.0
17,17,Cooper,Amari,Amari Cooper,2,1,464,75,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,13.0
20,20,Nelson,Jordy,Jordy Nelson,2,1,345,75,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1.0
23,23,Cooks,Brandin,Brandin Cooks,2,1,534,74,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,9.0
25,25,Hilton,T.Y.,T.Y. Hilton,3,1,356,75,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,5.0
30,30,Thomas,Demaryius,Demaryius Thomas,3,1,357,74,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.5,16.5
31,31,Landry,Jarvis,Jarvis Landry,3,1,460,77,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,14.0
35,35,Edelman,Julian,Julian Edelman,3,1,381,78,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.5,16.5
41,41,Tate,Golden,Golden Tate,4,1,393,79,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,19.0
47,47,Baldwin,Doug,Doug Baldwin,4,1,400,79,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
53,56,Fitzgerald,Larry,Larry Fitzgerald,5,2,724,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,12.0
62,68,Sanders,Emmanuel,Emmanuel Sanders,6,1,353,76,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,21.0
78,92,Crabtree,Michael,Michael Crabtree,7,2,497,78,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,11.0
90,111,Thomas,Michael,Michael Thomas,8,1,748,84,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,7.0

In [11]:
te_50 = te.head(50)
after_te = te_50[(te_50['FantasyPointsRank'] <= 70)]
after_te.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
54,58,Kelce,Travis,Travis Kelce,5,2,348,78,TE,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,1.0

In [12]:
qb_50 = qb.head(50)
after_qb = qb_50[(qb_50['FantasyPointsRank'] <= 70)]
after_qb.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
27,27,Newton,Cam,Cam Newton,3,1,476,70,QB,CAR,...,NaN,NaN,NaN,NaN,270.0,14.0,36.0,90.0,25.5,16.0
29,29,Rodgers,Aaron,Aaron Rodgers,3,1,481,72,QB,GBP,...,NaN,NaN,NaN,NaN,401.0,7.0,35.0,67.0,1.0,1.0
40,40,Luck,Andrew,Andrew Luck,4,1,486,71,QB,IND,...,NaN,NaN,NaN,NaN,346.0,13.0,41.0,64.0,6.0,4.0
42,42,Wilson,Russell,Russell Wilson,4,1,475,74,QB,SEA,...,NaN,NaN,NaN,NaN,353.0,11.0,41.0,72.0,14.0,10.0
51,52,Brees,Drew,Drew Brees,5,1,479,73,QB,NOS,...,NaN,NaN,NaN,NaN,471.0,15.0,27.0,23.0,4.0,3.0
57,61,Roethlisberger,Ben,Ben Roethlisberger,5,1,476,76,QB,PIT,...,NaN,NaN,NaN,NaN,328.0,13.0,17.0,16.0,27.0,17.0
66,73,Brady,Tom,Tom Brady,6,1,496,75,QB,NEP,...,NaN,NaN,NaN,NaN,291.0,2.0,15.0,28.0,20.0,14.0
83,101,Palmer,Carson,Carson Palmer,7,1,483,75,QB,ARI,...,NaN,NaN,NaN,NaN,364.0,14.0,40.0,14.0,29.0,18.0
85,105,Bortles,Blake,Blake Bortles,8,1,495,74,QB,JAC,...,NaN,NaN,NaN,NaN,368.0,16.0,34.0,58.0,13.0,9.0
92,113,Manning,Eli,Eli Manning,8,1,468,77,QB,NYG,...,NaN,NaN,NaN,NaN,377.0,16.0,21.0,21.0,35.0,21.0
99,121,Rivers,Philip,Philip Rivers,9,1,474,75,QB,SDC,...,NaN,NaN,NaN,NaN,349.0,21.0,36.0,14.0,19.0,13.0
122,155,Winston,Jameis,Jameis Winston,11,1,465,73,QB,TBB,...,NaN,NaN,NaN,NaN,345.0,18.0,35.0,53.0,22.0,15.0
125,160,Cousins,Kirk,Kirk Cousins,11,1,544,75,QB,WAS,...,NaN,NaN,NaN,NaN,406.0,12.0,23.0,34.0,7.0,5.0
144,182,Wentz,Carson,Carson Wentz,13,1,829,39,QB,PHI,...,NaN,NaN,NaN,NaN,379.0,14.0,33.0,46.0,40.0,23.0
148,186,Stafford,Matthew,Matthew Stafford,13,1,454,75,QB,DET,...,NaN,NaN,NaN,NaN,388.0,10.0,37.0,37.0,10.0,7.0
157,196,Prescott,Dak,Dak Prescott,14,1,802,54,QB,DAL,...,NaN,NaN,NaN,NaN,311.0,4.0,25.0,57.0,8.0,6.0
165,205,Taylor,Tyrod,Tyrod Taylor,14,1,473,73,QB,BUF,...,NaN,NaN,NaN,NaN,269.0,6.0,42.0,95.0,12.0,8.0
174,215,Mariota,Marcus,Marcus Mariota,15,2,473,70,QB,TEN,...,NaN,NaN,NaN,NaN,276.0,9.0,23.0,60.0,17.0,11.0
177,224,Dalton,Andy,Andy Dalton,15,1,574,72,QB,CIN,...,NaN,NaN,NaN,NaN,364.0,8.0,41.0,46.0,18.0,12.0
185,236,Ryan,Matt,Matt Ryan,16,1,478,71,QB,ATL,...,NaN,NaN,NaN,NaN,373.0,7.0,37.0,35.0,3.0,2.0
206,266,Tannehill,Ryan,Ryan Tannehill,18,2,467,60,QB,MIA,...,NaN,NaN,NaN,NaN,261.0,12.0,29.0,39.0,52.0,26.0
230,295,Flacco,Joe,Joe Flacco,20,1,723,47,QB,BAL,...,NaN,NaN,NaN,NaN,436.0,15.0,33.0,21.0,30.0,19.0
231,296,Smith,Alex,Alex Smith,20,1,505,45,QB,KCC,...,NaN,NaN,NaN,NaN,328.0,8.0,28.0,48.0,34.0,20.0
256,326,Siemian,Trevor,Trevor Siemian,22,3,813,12,QB,DEN,...,NaN,NaN,NaN,NaN,289.0,10.0,31.0,28.0,50.0,25.0
283,352,Bradford,Sam,Sam Bradford,24,2,606,26,QB,MIN,...,NaN,NaN,NaN,NaN,395.0,5.0,37.0,20.0,36.0,22.0
322,391,Kaepernick,Colin,Colin Kaepernick,27,4,1098,10,QB,SFO,...,NaN,NaN,NaN,NaN,196.0,4.0,36.0,69.0,46.0,24.0

In [13]:
rb1 = rb[(rb['FantasyPointsRank'] <= 100)]
wr1 = wr[(wr['FantasyPointsRank'] <= 100)]
te1 = te[(te['FantasyPointsRank'] <= 100)]
qb1 = qb[(qb['FantasyPointsRank'] <= 100)]
rb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
1,2,Elliott,Ezekiel,Ezekiel Elliott,1,1,743,98,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0
3,4,Gurley,Todd,Todd Gurley,1,1,830,70,RB,RAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,17.0
7,8,Bell,Le'Veon,Le'Veon Bell,1,1,457,74,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
10,11,Johnson,David,David Johnson,1,1,425,71,RB,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
12,12,Miller,Lamar,Lamar Miller,2,1,447,75,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.5,18.5
16,16,Freeman,Devonta,Devonta Freeman,2,1,458,74,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
24,24,Ingram,Mark,Mark Ingram,3,1,455,74,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,9.0
26,26,McCoy,LeSean,LeSean McCoy,3,1,419,74,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,4.0
36,36,Hyde,Carlos,Carlos Hyde,4,1,424,75,RB,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,15.0
38,38,Forte,Matt,Matt Forte,4,1,747,75,RB,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,20.0
43,43,Murray,Latavius,Latavius Murray,4,1,465,77,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
48,48,Murray,DeMarco,DeMarco Murray,5,1,431,75,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,5.0
52,53,Hill,Jeremy,Jeremy Hill,5,1,443,75,RB,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,22.0
60,65,Gordon,Melvin,Melvin Gordon,6,1,461,75,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,7.0
81,97,Gore,Frank,Frank Gore,7,1,475,77,RB,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,12.0
97,119,Ajayi,Jay,Jay Ajayi,9,2,450,74,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
143,181,Crowell,Isaiah,Isaiah Crowell,12,2,560,71,RB,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,14.0
147,185,Blount,LeGarrette,LeGarrette Blount,13,1,597,77,RB,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,8.0
155,194,Coleman,Tevin,Tevin Coleman,13,4,474,70,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.5,18.5
162,202,Howard,Jordan,Jordan Howard,14,1,760,62,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,10.0
184,235,Powell,Bilal,Bilal Powell,16,1,570,65,RB,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,21.0
189,243,Ware,Spencer,Spencer Ware,16,1,606,64,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,16.0
216,279,West,Terrance,Terrance West,19,1,923,36,RB,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.5,23.0

In [14]:
wr1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
0,1,Brown,Antonio,Antonio Brown,1,1,436,73,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.5,3.0
2,3,Jones,Julio,Julio Jones,1,1,367,73,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,6.0
4,5,Beckham,Odell,Odell Beckham,1,1,363,73,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,4.0
5,6,Green,A.J.,A.J. Green,1,1,368,72,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,33.0
6,7,Hopkins,DeAndre,DeAndre Hopkins,1,1,397,73,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,28.0
9,10,Bryant,Dez,Dez Bryant,1,1,433,74,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,31.0
13,13,Robinson,Allen,Allen Robinson,2,1,481,72,WR,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,25.0
15,15,Evans,Mike,Mike Evans,2,1,697,73,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,2.0
17,17,Cooper,Amari,Amari Cooper,2,1,464,75,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,13.0
20,20,Nelson,Jordy,Jordy Nelson,2,1,345,75,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1.0
23,23,Cooks,Brandin,Brandin Cooks,2,1,534,74,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,9.0
25,25,Hilton,T.Y.,T.Y. Hilton,3,1,356,75,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,5.0
30,30,Thomas,Demaryius,Demaryius Thomas,3,1,357,74,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.5,16.5
31,31,Landry,Jarvis,Jarvis Landry,3,1,460,77,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,14.0
35,35,Edelman,Julian,Julian Edelman,3,1,381,78,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.5,16.5
37,37,Benjamin,Kelvin,Kelvin Benjamin,4,1,394,75,WR,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,24.0
41,41,Tate,Golden,Golden Tate,4,1,393,79,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,19.0
47,47,Baldwin,Doug,Doug Baldwin,4,1,400,79,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
53,56,Fitzgerald,Larry,Larry Fitzgerald,5,2,724,77,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,12.0
62,68,Sanders,Emmanuel,Emmanuel Sanders,6,1,353,76,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,21.0
64,70,Shepard,Sterling,Sterling Shepard,6,1,747,96,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,35.0
77,90,Jackson,DeSean,DeSean Jackson,7,1,423,77,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,34.0
78,92,Crabtree,Michael,Michael Crabtree,7,2,497,78,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,11.0
90,111,Thomas,Michael,Michael Thomas,8,1,748,84,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,7.0
96,118,Diggs,Stefon,Stefon Diggs,9,2,631,74,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,37.0
98,120,Snead,Willie,Willie Snead,9,6,428,73,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,30.0
105,131,Hill,Tyreek,Tyreek Hill,9,3,900,5,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,22.0
190,244,Smith,Steve,Steve Smith,16,1,516,63,WR,FA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,38.0
200,256,Matthews,Rishard,Rishard Matthews,17,3,488,57,WR,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.5,18.0
214,277,Wallace,Mike,Mike Wallace,18,3,594,52,WR,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,23.0
225,289,Pryor,Terrelle,Terrelle Pryor,19,1,780,32,WR,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,20.0
234,300,Garcon,Pierre,Pierre Garcon,20,7,783,50,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,27.0
255,325,Adams,Davante,Davante Adams,22,1,479,40,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,8.0
271,341,Williams,Tyrell,Tyrell Williams,23,3,901,11,WR,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,15.0
276,345,Beasley,Cole,Cole Beasley,24,3,699,13,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,36.0
305,374,Crowder,Jamison,Jamison Crowder,26,9,597,22,WR,WAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,29.0
314,383,LaFell,Brandon,Brandon LaFell,27,7,597,25,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.5,32.0
318,387,Britt,Kenny,Kenny Britt,27,5,580,19,WR,RAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,26.0

In [15]:
te1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
45,45,Olsen,Greg,Greg Olsen,4,1,318,75,TE,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,3.0
54,58,Kelce,Travis,Travis Kelce,5,2,348,78,TE,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,1.0
68,75,Walker,Delanie,Delanie Walker,6,2,397,76,TE,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,5.0
141,178,Graham,Jimmy,Jimmy Graham,12,2,389,76,TE,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,4.0
251,321,Rudolph,Kyle,Kyle Rudolph,21,3,451,47,TE,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,2.0

In [16]:
qb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
27,27,Newton,Cam,Cam Newton,3,1,476,70,QB,CAR,...,NaN,NaN,NaN,NaN,270.0,14.0,36.0,90.0,25.5,16.0
29,29,Rodgers,Aaron,Aaron Rodgers,3,1,481,72,QB,GBP,...,NaN,NaN,NaN,NaN,401.0,7.0,35.0,67.0,1.0,1.0
40,40,Luck,Andrew,Andrew Luck,4,1,486,71,QB,IND,...,NaN,NaN,NaN,NaN,346.0,13.0,41.0,64.0,6.0,4.0
42,42,Wilson,Russell,Russell Wilson,4,1,475,74,QB,SEA,...,NaN,NaN,NaN,NaN,353.0,11.0,41.0,72.0,14.0,10.0
51,52,Brees,Drew,Drew Brees,5,1,479,73,QB,NOS,...,NaN,NaN,NaN,NaN,471.0,15.0,27.0,23.0,4.0,3.0
57,61,Roethlisberger,Ben,Ben Roethlisberger,5,1,476,76,QB,PIT,...,NaN,NaN,NaN,NaN,328.0,13.0,17.0,16.0,27.0,17.0
66,73,Brady,Tom,Tom Brady,6,1,496,75,QB,NEP,...,NaN,NaN,NaN,NaN,291.0,2.0,15.0,28.0,20.0,14.0
83,101,Palmer,Carson,Carson Palmer,7,1,483,75,QB,ARI,...,NaN,NaN,NaN,NaN,364.0,14.0,40.0,14.0,29.0,18.0
85,105,Bortles,Blake,Blake Bortles,8,1,495,74,QB,JAC,...,NaN,NaN,NaN,NaN,368.0,16.0,34.0,58.0,13.0,9.0
92,113,Manning,Eli,Eli Manning,8,1,468,77,QB,NYG,...,NaN,NaN,NaN,NaN,377.0,16.0,21.0,21.0,35.0,21.0
99,121,Rivers,Philip,Philip Rivers,9,1,474,75,QB,SDC,...,NaN,NaN,NaN,NaN,349.0,21.0,36.0,14.0,19.0,13.0
122,155,Winston,Jameis,Jameis Winston,11,1,465,73,QB,TBB,...,NaN,NaN,NaN,NaN,345.0,18.0,35.0,53.0,22.0,15.0
125,160,Cousins,Kirk,Kirk Cousins,11,1,544,75,QB,WAS,...,NaN,NaN,NaN,NaN,406.0,12.0,23.0,34.0,7.0,5.0
144,182,Wentz,Carson,Carson Wentz,13,1,829,39,QB,PHI,...,NaN,NaN,NaN,NaN,379.0,14.0,33.0,46.0,40.0,23.0
148,186,Stafford,Matthew,Matthew Stafford,13,1,454,75,QB,DET,...,NaN,NaN,NaN,NaN,388.0,10.0,37.0,37.0,10.0,7.0
157,196,Prescott,Dak,Dak Prescott,14,1,802,54,QB,DAL,...,NaN,NaN,NaN,NaN,311.0,4.0,25.0,57.0,8.0,6.0
165,205,Taylor,Tyrod,Tyrod Taylor,14,1,473,73,QB,BUF,...,NaN,NaN,NaN,NaN,269.0,6.0,42.0,95.0,12.0,8.0
174,215,Mariota,Marcus,Marcus Mariota,15,2,473,70,QB,TEN,...,NaN,NaN,NaN,NaN,276.0,9.0,23.0,60.0,17.0,11.0
177,224,Dalton,Andy,Andy Dalton,15,1,574,72,QB,CIN,...,NaN,NaN,NaN,NaN,364.0,8.0,41.0,46.0,18.0,12.0
185,236,Ryan,Matt,Matt Ryan,16,1,478,71,QB,ATL,...,NaN,NaN,NaN,NaN,373.0,7.0,37.0,35.0,3.0,2.0
206,266,Tannehill,Ryan,Ryan Tannehill,18,2,467,60,QB,MIA,...,NaN,NaN,NaN,NaN,261.0,12.0,29.0,39.0,52.0,26.0
226,290,Osweiler,Brock,Brock Osweiler,19,1,551,54,QB,HOU,...,NaN,NaN,NaN,NaN,301.0,16.0,27.0,30.0,73.0,27.0
230,295,Flacco,Joe,Joe Flacco,20,1,723,47,QB,BAL,...,NaN,NaN,NaN,NaN,436.0,15.0,33.0,21.0,30.0,19.0
231,296,Smith,Alex,Alex Smith,20,1,505,45,QB,KCC,...,NaN,NaN,NaN,NaN,328.0,8.0,28.0,48.0,34.0,20.0
256,326,Siemian,Trevor,Trevor Siemian,22,3,813,12,QB,DEN,...,NaN,NaN,NaN,NaN,289.0,10.0,31.0,28.0,50.0,25.0
283,352,Bradford,Sam,Sam Bradford,24,2,606,26,QB,MIN,...,NaN,NaN,NaN,NaN,395.0,5.0,37.0,20.0,36.0,22.0
322,391,Kaepernick,Colin,Colin Kaepernick,27,4,1098,10,QB,SFO,...,NaN,NaN,NaN,NaN,196.0,4.0,36.0,69.0,46.0,24.0

In [17]:
rb2 = rb[(rb['FantasyPointsRank'] <= 50)]
wr2 = wr[(wr['FantasyPointsRank'] <= 50)]
te2 = te[(te['FantasyPointsRank'] <= 50)]
qb2 = qb[(qb['FantasyPointsRank'] <= 50)]
rb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
1,2,Elliott,Ezekiel,Ezekiel Elliott,1,1,743,98,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0
7,8,Bell,Le'Veon,Le'Veon Bell,1,1,457,74,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
10,11,Johnson,David,David Johnson,1,1,425,71,RB,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
16,16,Freeman,Devonta,Devonta Freeman,2,1,458,74,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
24,24,Ingram,Mark,Mark Ingram,3,1,455,74,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,9.0
26,26,McCoy,LeSean,LeSean McCoy,3,1,419,74,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,4.0
43,43,Murray,Latavius,Latavius Murray,4,1,465,77,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
48,48,Murray,DeMarco,DeMarco Murray,5,1,431,75,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,5.0
60,65,Gordon,Melvin,Melvin Gordon,6,1,461,75,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,7.0
81,97,Gore,Frank,Frank Gore,7,1,475,77,RB,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,12.0
97,119,Ajayi,Jay,Jay Ajayi,9,2,450,74,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
147,185,Blount,LeGarrette,LeGarrette Blount,13,1,597,77,RB,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,8.0
162,202,Howard,Jordan,Jordan Howard,14,1,760,62,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,10.0

In [18]:
wr2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
0,1,Brown,Antonio,Antonio Brown,1,1,436,73,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.5,3.0
2,3,Jones,Julio,Julio Jones,1,1,367,73,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,6.0
4,5,Beckham,Odell,Odell Beckham,1,1,363,73,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,4.0
15,15,Evans,Mike,Mike Evans,2,1,697,73,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,2.0
20,20,Nelson,Jordy,Jordy Nelson,2,1,345,75,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1.0
23,23,Cooks,Brandin,Brandin Cooks,2,1,534,74,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,9.0
25,25,Hilton,T.Y.,T.Y. Hilton,3,1,356,75,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,5.0
47,47,Baldwin,Doug,Doug Baldwin,4,1,400,79,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
78,92,Crabtree,Michael,Michael Crabtree,7,2,497,78,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,11.0
90,111,Thomas,Michael,Michael Thomas,8,1,748,84,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,7.0
255,325,Adams,Davante,Davante Adams,22,1,479,40,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,8.0

In [19]:
te2

Empty DataFrame
Columns: [Rank_x, Player_x, Unnamed: 2, Player_Name, Round, Min Pick, Max Pick, % Selected, Position, Team, PositionRank, Rank_y, Player_y, ATT, YDS, Y/A, LG, 20+, TD, REC, TGT, YDS.1, Y/R, TD.1, FL, G, FPTS, FPTS/G, OWN, FG, FGA, PCT, 1-19, 20-29, 30-39, 40-49, 50+, XPT, XPA, CMP, INT, SACKS, ATT.1, FantasyPointsRank, performance_fp_te]
Index: []

[0 rows x 45 columns]

In [20]:
qb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
27,27,Newton,Cam,Cam Newton,3,1,476,70,QB,CAR,...,NaN,NaN,NaN,NaN,270.0,14.0,36.0,90.0,25.5,16.0
29,29,Rodgers,Aaron,Aaron Rodgers,3,1,481,72,QB,GBP,...,NaN,NaN,NaN,NaN,401.0,7.0,35.0,67.0,1.0,1.0
40,40,Luck,Andrew,Andrew Luck,4,1,486,71,QB,IND,...,NaN,NaN,NaN,NaN,346.0,13.0,41.0,64.0,6.0,4.0
42,42,Wilson,Russell,Russell Wilson,4,1,475,74,QB,SEA,...,NaN,NaN,NaN,NaN,353.0,11.0,41.0,72.0,14.0,10.0
51,52,Brees,Drew,Drew Brees,5,1,479,73,QB,NOS,...,NaN,NaN,NaN,NaN,471.0,15.0,27.0,23.0,4.0,3.0
57,61,Roethlisberger,Ben,Ben Roethlisberger,5,1,476,76,QB,PIT,...,NaN,NaN,NaN,NaN,328.0,13.0,17.0,16.0,27.0,17.0
66,73,Brady,Tom,Tom Brady,6,1,496,75,QB,NEP,...,NaN,NaN,NaN,NaN,291.0,2.0,15.0,28.0,20.0,14.0
83,101,Palmer,Carson,Carson Palmer,7,1,483,75,QB,ARI,...,NaN,NaN,NaN,NaN,364.0,14.0,40.0,14.0,29.0,18.0
85,105,Bortles,Blake,Blake Bortles,8,1,495,74,QB,JAC,...,NaN,NaN,NaN,NaN,368.0,16.0,34.0,58.0,13.0,9.0
92,113,Manning,Eli,Eli Manning,8,1,468,77,QB,NYG,...,NaN,NaN,NaN,NaN,377.0,16.0,21.0,21.0,35.0,21.0
99,121,Rivers,Philip,Philip Rivers,9,1,474,75,QB,SDC,...,NaN,NaN,NaN,NaN,349.0,21.0,36.0,14.0,19.0,13.0
122,155,Winston,Jameis,Jameis Winston,11,1,465,73,QB,TBB,...,NaN,NaN,NaN,NaN,345.0,18.0,35.0,53.0,22.0,15.0
125,160,Cousins,Kirk,Kirk Cousins,11,1,544,75,QB,WAS,...,NaN,NaN,NaN,NaN,406.0,12.0,23.0,34.0,7.0,5.0
144,182,Wentz,Carson,Carson Wentz,13,1,829,39,QB,PHI,...,NaN,NaN,NaN,NaN,379.0,14.0,33.0,46.0,40.0,23.0
148,186,Stafford,Matthew,Matthew Stafford,13,1,454,75,QB,DET,...,NaN,NaN,NaN,NaN,388.0,10.0,37.0,37.0,10.0,7.0
157,196,Prescott,Dak,Dak Prescott,14,1,802,54,QB,DAL,...,NaN,NaN,NaN,NaN,311.0,4.0,25.0,57.0,8.0,6.0
165,205,Taylor,Tyrod,Tyrod Taylor,14,1,473,73,QB,BUF,...,NaN,NaN,NaN,NaN,269.0,6.0,42.0,95.0,12.0,8.0
174,215,Mariota,Marcus,Marcus Mariota,15,2,473,70,QB,TEN,...,NaN,NaN,NaN,NaN,276.0,9.0,23.0,60.0,17.0,11.0
177,224,Dalton,Andy,Andy Dalton,15,1,574,72,QB,CIN,...,NaN,NaN,NaN,NaN,364.0,8.0,41.0,46.0,18.0,12.0
185,236,Ryan,Matt,Matt Ryan,16,1,478,71,QB,ATL,...,NaN,NaN,NaN,NaN,373.0,7.0,37.0,35.0,3.0,2.0
230,295,Flacco,Joe,Joe Flacco,20,1,723,47,QB,BAL,...,NaN,NaN,NaN,NaN,436.0,15.0,33.0,21.0,30.0,19.0
231,296,Smith,Alex,Alex Smith,20,1,505,45,QB,KCC,...,NaN,NaN,NaN,NaN,328.0,8.0,28.0,48.0,34.0,20.0
256,326,Siemian,Trevor,Trevor Siemian,22,3,813,12,QB,DEN,...,NaN,NaN,NaN,NaN,289.0,10.0,31.0,28.0,50.0,25.0
283,352,Bradford,Sam,Sam Bradford,24,2,606,26,QB,MIN,...,NaN,NaN,NaN,NaN,395.0,5.0,37.0,20.0,36.0,22.0
322,391,Kaepernick,Colin,Colin Kaepernick,27,4,1098,10,QB,SFO,...,NaN,NaN,NaN,NaN,196.0,4.0,36.0,69.0,46.0,24.0

In [21]:
rb3 = rb[(rb['FantasyPointsRank'] <= 25)]
wr3 = wr[(wr['FantasyPointsRank'] <= 25)]
te3 = te[(te['FantasyPointsRank'] <= 25)]
qb3 = qb[(qb['FantasyPointsRank'] <= 25)]
rb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
1,2,Elliott,Ezekiel,Ezekiel Elliott,1,1,743,98,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0
7,8,Bell,Le'Veon,Le'Veon Bell,1,1,457,74,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
10,11,Johnson,David,David Johnson,1,1,425,71,RB,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
16,16,Freeman,Devonta,Devonta Freeman,2,1,458,74,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
26,26,McCoy,LeSean,LeSean McCoy,3,1,419,74,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,4.0
48,48,Murray,DeMarco,DeMarco Murray,5,1,431,75,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,5.0

In [22]:
wr3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
15,15,Evans,Mike,Mike Evans,2,1,697,73,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,2.0
20,20,Nelson,Jordy,Jordy Nelson,2,1,345,75,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1.0

In [25]:
wr3['FantasyPointsRank'].sum()

47.0

In [23]:
te3

Empty DataFrame
Columns: [Rank_x, Player_x, Unnamed: 2, Player_Name, Round, Min Pick, Max Pick, % Selected, Position, Team, PositionRank, Rank_y, Player_y, ATT, YDS, Y/A, LG, 20+, TD, REC, TGT, YDS.1, Y/R, TD.1, FL, G, FPTS, FPTS/G, OWN, FG, FGA, PCT, 1-19, 20-29, 30-39, 40-49, 50+, XPT, XPA, CMP, INT, SACKS, ATT.1, FantasyPointsRank, performance_fp_te]
Index: []

[0 rows x 45 columns]

In [24]:
qb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
29,29,Rodgers,Aaron,Aaron Rodgers,3,1,481,72,QB,GBP,...,NaN,NaN,NaN,NaN,401.0,7.0,35.0,67.0,1.0,1.0
40,40,Luck,Andrew,Andrew Luck,4,1,486,71,QB,IND,...,NaN,NaN,NaN,NaN,346.0,13.0,41.0,64.0,6.0,4.0
42,42,Wilson,Russell,Russell Wilson,4,1,475,74,QB,SEA,...,NaN,NaN,NaN,NaN,353.0,11.0,41.0,72.0,14.0,10.0
51,52,Brees,Drew,Drew Brees,5,1,479,73,QB,NOS,...,NaN,NaN,NaN,NaN,471.0,15.0,27.0,23.0,4.0,3.0
66,73,Brady,Tom,Tom Brady,6,1,496,75,QB,NEP,...,NaN,NaN,NaN,NaN,291.0,2.0,15.0,28.0,20.0,14.0
85,105,Bortles,Blake,Blake Bortles,8,1,495,74,QB,JAC,...,NaN,NaN,NaN,NaN,368.0,16.0,34.0,58.0,13.0,9.0
99,121,Rivers,Philip,Philip Rivers,9,1,474,75,QB,SDC,...,NaN,NaN,NaN,NaN,349.0,21.0,36.0,14.0,19.0,13.0
122,155,Winston,Jameis,Jameis Winston,11,1,465,73,QB,TBB,...,NaN,NaN,NaN,NaN,345.0,18.0,35.0,53.0,22.0,15.0
125,160,Cousins,Kirk,Kirk Cousins,11,1,544,75,QB,WAS,...,NaN,NaN,NaN,NaN,406.0,12.0,23.0,34.0,7.0,5.0
148,186,Stafford,Matthew,Matthew Stafford,13,1,454,75,QB,DET,...,NaN,NaN,NaN,NaN,388.0,10.0,37.0,37.0,10.0,7.0
157,196,Prescott,Dak,Dak Prescott,14,1,802,54,QB,DAL,...,NaN,NaN,NaN,NaN,311.0,4.0,25.0,57.0,8.0,6.0
165,205,Taylor,Tyrod,Tyrod Taylor,14,1,473,73,QB,BUF,...,NaN,NaN,NaN,NaN,269.0,6.0,42.0,95.0,12.0,8.0
174,215,Mariota,Marcus,Marcus Mariota,15,2,473,70,QB,TEN,...,NaN,NaN,NaN,NaN,276.0,9.0,23.0,60.0,17.0,11.0
177,224,Dalton,Andy,Andy Dalton,15,1,574,72,QB,CIN,...,NaN,NaN,NaN,NaN,364.0,8.0,41.0,46.0,18.0,12.0
185,236,Ryan,Matt,Matt Ryan,16,1,478,71,QB,ATL,...,NaN,NaN,NaN,NaN,373.0,7.0,37.0,35.0,3.0,2.0

In [26]:
rb_25_50 = rb2[(rb2['FantasyPointsRank'] >= 25)]
wr_25_50 = wr2[(wr2['FantasyPointsRank'] >= 25)]
te_25_50 = te2[(te2['FantasyPointsRank'] >= 25)]
qb_25_50 = qb2[(qb2['FantasyPointsRank'] >= 25)]
rb_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
24,24,Ingram,Mark,Mark Ingram,3,1,455,74,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,9.0
43,43,Murray,Latavius,Latavius Murray,4,1,465,77,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
60,65,Gordon,Melvin,Melvin Gordon,6,1,461,75,RB,SDC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,7.0
81,97,Gore,Frank,Frank Gore,7,1,475,77,RB,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,12.0
97,119,Ajayi,Jay,Jay Ajayi,9,2,450,74,RB,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
147,185,Blount,LeGarrette,LeGarrette Blount,13,1,597,77,RB,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,8.0
162,202,Howard,Jordan,Jordan Howard,14,1,760,62,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,10.0

In [28]:
rb_25_50['FantasyPointsRank'].sum()

280.0

In [27]:
wr_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
0,1,Brown,Antonio,Antonio Brown,1,1,436,73,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.5,3.0
2,3,Jones,Julio,Julio Jones,1,1,367,73,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,6.0
4,5,Beckham,Odell,Odell Beckham,1,1,363,73,WR,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,4.0
23,23,Cooks,Brandin,Brandin Cooks,2,1,534,74,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,9.0
25,25,Hilton,T.Y.,T.Y. Hilton,3,1,356,75,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,5.0
47,47,Baldwin,Doug,Doug Baldwin,4,1,400,79,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
78,92,Crabtree,Michael,Michael Crabtree,7,2,497,78,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,11.0
90,111,Thomas,Michael,Michael Thomas,8,1,748,84,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,7.0
255,325,Adams,Davante,Davante Adams,22,1,479,40,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,8.0

In [29]:
wr_25_50['FantasyPointsRank'].sum()

342.5