In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from matplotlib import rcParams

%matplotlib inline

In [9]:
adp = pd.read_csv('Data/Ranked_adp_for_merge/adp_ranked_2018 - adp_ranked_2018.csv')

In [10]:
fp = pd.read_csv('Data/clean_fp_data_merge/fp_data_cleaned_18 - fp_data_uncleaned_18 - fp_data_uncleaned_18.csv')

In [11]:
adp.shape

(301, 10)

In [12]:
fp['Player'] = fp['Player'].str.strip()

fp.head()

,Rank,Player,ATT,YDS,Y/A,LG,20+,TD,REC,TGT,...,INT,SACKS,ATT.1,SACK,FR,FF,DEF TD,SFTY,SPC TD,FantasyPointsRank
0,1,Patrick Mahomes,580.0,"5,097",8.8,NaN,NaN,50.0,NaN,NaN,...,12.0,26.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2,Matt Ryan,608.0,"4,924",8.1,NaN,NaN,35.0,NaN,NaN,...,7.0,42.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,1,Todd Gurley,256.0,"1,251",4.9,36.0,11.0,17.0,59.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,3,Ben Roethlisberger,675.0,"5,129",7.6,NaN,NaN,34.0,NaN,NaN,...,16.0,24.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
4,2,Saquon Barkley,261.0,"1,307",5.0,78.0,16.0,11.0,91.0,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [16]:
rwd = pd.merge(adp, fp, 
                 left_on = 'Player_Name', right_on = 'Player',
                 how = 'left')
rwd.shape

(304, 49)

In [17]:
rwd.tail(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Min Pick,Max Pick,% Selected,Position,Team,PositionRank,...,INT,SACKS,ATT.1,SACK,FR,FF,DEF TD,SFTY,SPC TD,FantasyPointsRank
254,319,Buccaneers,Tampa Bay,Tampa Bay Buccaneers,22,400,7,Def,TBB,27,...,9.0,NaN,NaN,38.0,8.0,11.0,1.0,0.0,0.0,270.5
255,320,Hopkins,Dustin,Dustin Hopkins,12,868,9,PK,WAS,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.0
256,321,Giants,New York,New York Giants,16,410,6,Def,NYG,28,...,16.0,NaN,NaN,30.0,5.0,9.0,3.0,0.0,0.0,233.5
257,322,Dorsett,Phillip,Phillip Dorsett,6,764,13,WR,NEP,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,276.5
258,323,Austin,Tavon,Tavon Austin,3,642,12,WR,DAL,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,366.0
259,324,Sproles,Darren,Darren Sproles,3,769,16,RB,PHI,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304.0
260,325,Decker,Eric,Eric Decker,8,1295,6,WR,FA,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,326,Coleman,Corey,Corey Coleman,3,1254,10,WR,NYG,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,483.0
262,327,Patterson,Cordarrelle,Cordarrelle Patterson,2,738,13,WR,NEP,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,242.0
263,327,Patterson,Cordarrelle,Cordarrelle Patterson,2,738,13,WR,NEP,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,933.0
264,328,Smith,Rod,Rod Smith,7,666,17,RB,DAL,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,392.5
265,329,Everett,Gerald,Gerald Everett,7,793,10,TE,LAR,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262.0
266,330,Davis,Vernon,Vernon Davis,14,633,16,TE,WAS,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.0
267,331,Williams,Jonathan,Jonathan Williams,6,811,6,RB,IND,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,608.5
268,332,Wallace,Mike,Mike Wallace,2,621,17,WR,PHI,82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,933.0
269,333,Abdullah,Ameer,Ameer Abdullah,1,592,13,RB,MIN,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,566.0
270,334,McCarron,A.J.,A.J. McCarron,2,993,6,QB,OAK,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,335,Kearse,Jermaine,Jermaine Kearse,3,658,15,WR,NYJ,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,286.5
272,336,Fitzpatrick,Ryan,Ryan Fitzpatrick,1,977,6,QB,TBB,37,...,12.0,14.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,77.0
273,337,Green,Virgil,Virgil Green,2,825,8,TE,LAC,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,358.5
274,338,Gathers,Rico,Rico Gathers,7,870,5,TE,DAL,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.5
275,339,White,Kevin,Kevin White,3,955,11,WR,CHI,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.5
276,340,Dickson,Ed,Ed Dickson,4,704,8,TE,SEA,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,348.0
277,341,Gabriel,Taylor,Taylor Gabriel,6,700,9,WR,CHI,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.0
278,342,Marshall,Brandon,Brandon Marshall,1,797,11,WR,FA,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.0
279,343,McCown,Josh,Josh McCown,1,979,7,QB,NYJ,38,...,4.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,418.5
280,344,Pryor,Terrelle,Terrelle Pryor,2,659,11,WR,FA,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,329.0
281,345,Jones,Zay,Zay Jones,18,609,9,WR,BUF,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0
282,346,Griffin,Ryan,Ryan Griffin,5,754,7,TE,HOU,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.5
283,346,Griffin,Ryan,Ryan Griffin,5,754,7,TE,HOU,35,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,933.0
284,347,Bridgewater,Teddy,Teddy Bridgewater,5,992,7,QB,NOS,39,...,1.0,2.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,506.5
285,348,Rogers,Chester,Chester Rogers,2,634,7,WR,IND,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,213.0
286,349,McGuire,Elijah,Elijah McGuire,3,599,8,RB,NYJ,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,248.0
287,350,Snead,Willie,Willie Snead,6,693,10,WR,BAL,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185.5
288,351,Humphries,Adam,Adam Humphries,9,768,9,WR,TBB,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0
289,352,Blue,Alfred,Alfred Blue,4,910,5,RB,HOU,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222.0
290,353,Taylor,Trent,Trent Taylor,5,657,7,WR,SFO,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.5
291,354,Gallman,Wayne,Wayne Gallman,5,643,10,RB,NYG,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,354.0
292,355,Samuel,Curtis,Curtis Samuel,6,627,7,WR,CAR,93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.5
293,356,Williams,Chad,Chad Williams,4,630,6,WR,ARI,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,376.5
294,357,James,Jesse,Jesse James,4,666,8,TE,PIT,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,265.0
295,358,Shaheen,Adam,Adam Shaheen,11,632,6,TE,CHI,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,448.0
296,359,Brissett,Jacoby,Jacoby Brissett,17,983,6,QB,IND,40,...,0.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1258.0
297,360,Benjamin,Travis,Travis Benjamin,8,739,8,WR,LAC,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,368.0
298,361,Treadwell,Laquon,Laquon Treadwell,3,622,8,WR,MIN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0
299,362,Butler,Brice,Brice Butler,2,693,5,WR,MIA,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452.0
300,363,Brown,Jaron,Jaron Brown,21,767,6,WR,SEA,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302.0
301,364,Williams,Joe,Joe Williams,8,659,5,RB,FA,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,933.0
302,365,Gillislee,Mike,Mike Gillislee,11,701,5,RB,FA*,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542.0
303,366,Richard,Jalen,Jalen Richard,12,714,5,RB,OAK,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.0

In [15]:
rwd.to_csv('merged_data_18.csv', index = False)

In [18]:
rounds_4 = rwd.head(48)
rounds_4['Position'].value_counts()

WR    20
RB    19
QB     5
TE     4
Name: Position, dtype: int64

In [19]:
df = rwd.iloc[0:24]
df['Position'].value_counts()

RB    12
WR     9
TE     2
QB     1
Name: Position, dtype: int64

In [20]:
first = rwd.iloc[0:12]
first['Position'].value_counts()

RB    9
WR    3
Name: Position, dtype: int64

In [21]:
second = rwd.iloc[12:24]
second['Position'].value_counts()

WR    6
RB    3
TE    2
QB    1
Name: Position, dtype: int64

In [23]:
third = rwd.iloc[24:36]
third['Position'].value_counts()

WR    7
RB    2
QB    2
TE    1
Name: Position, dtype: int64

In [24]:
fourth = rwd.iloc[36:48]
fourth['Position'].value_counts()

RB    5
WR    4
QB    2
TE    1
Name: Position, dtype: int64